<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasq.bdp.logn.mapper.TCompanyMapper">
  <resultMap id="BaseResultMap" type="com.gasq.bdp.logn.model.TCompany">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="county_id" jdbcType="INTEGER" property="countyId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, name, province_id, city_id, county_id, status, remark, createTime, updateTime, 
    createUser, updateUser
  </sql>
  <select id="selectByExample" parameterType="com.gasq.bdp.logn.model.TCompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gasq.bdp.logn.model.TCompanyExample">
    delete from t_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gasq.bdp.logn.model.TCompany">
    insert into t_company (id, code, name, 
      province_id, city_id, county_id, 
      status, remark, createTime, 
      updateTime, createUser, updateUser
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, #{updateuser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.gasq.bdp.logn.model.TCompany">
    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gasq.bdp.logn.model.TCompanyExample" resultType="java.lang.Long">
    select count(*) from t_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_company
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.countyId != null">
        county_id = #{record.countyId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        createUser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateuser != null">
        updateUser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_company
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      county_id = #{record.countyId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      createUser = #{record.createuser,jdbcType=VARCHAR},
      updateUser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gasq.bdp.logn.model.TCompany">
    update t_company
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null">
        county_id = #{countyId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gasq.bdp.logn.model.TCompany">
    update t_company
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      county_id = #{countyId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createUser = #{createuser,jdbcType=VARCHAR},
      updateUser = #{updateuser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gasq.bdp.logn.model.TCompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="queryMapBeanList" parameterType="java.util.HashMap" resultType="java.util.Map">
       select r.id as companyid,r.name as companyName from t_company r where r.status = 1 order by r.id
   </select>
   <select id="queryRootIn" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_root_in a where 1=1 
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
   <select id="querySex" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_sex a where 1=1
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
   <select id="queryUserStatus" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_user_status a where 1=1
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
   <select id="queryCosmetologist" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_cosmetologist a where 1=1
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
   <select id="queryCounsoler" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_counsoler a where 1=1
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
   <select id="queryProjectInventory" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map">
       select * from v_project_inventory a where 1=1
       <if test="record.id!=null">
         and a.companyid=#{record.id}
       </if>
   </select>
    <select id="getView" parameterType="com.gasq.bdp.logn.model.TCompany" resultType="java.util.Map"  statementType="STATEMENT">
       <![CDATA[
       select * from ${record.viewname} a where 1=1
       ]]>
       <if test="record.id!=null">
         and a.companyid=${record.id}
       </if>
       <if test="record.pid!=null">
         and a.pid=${record.pid}
       </if>
   </select>
   
 <select id="countConsumptionReport" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT
  	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			DATE_FORMAT(a.createTime, '%Y') datetime,
		</if>
		<if test="datetype==2">
			DATE_FORMAT(a.createTime, '%Y%m') datetime,
		</if>
		<if test="datetype==3">
			DATE_FORMAT(a.createTime, '%Y%m%d') datetime,
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		DATE_FORMAT(a.createTime, '%Y%m%d') datetime,
	</if>
		(sum(IF (a.`status` = 1,IF (a.chu_fu_zhen = 0,ifnull(b.total_amount, 0),0),0)) / 10000) c_total_amount,
		(sum(IF (a.`status` = 1,IF (a.chu_fu_zhen = 1,ifnull(b.total_amount, 0),0),0)) / 10000) f_total_amount,
		sum(ifnull(b.total_amount, 0)) / 10000 AS total_amont,
		sum(IF (a.`status` = 1,IF (a.chu_fu_zhen = 0, 1, 0),0)) CHUZHEN,
		sum(IF (a.`status` = 1,IF (a.chu_fu_zhen = 1, 1, 0),0)) FUZHEN,
		sum(IF (a.`status` = 99,1,0)) employeeWastageOrder,
		count(a.id) employeeTotalOrder,
		tsu.nickname
	FROM
		t_ltn_customer a
	LEFT JOIN (select sum(b.total_amount)total_amount,b.customer_id as id from t_ltn_customer_consumpton_amount b LEFT JOIN t_ltn_customer b1 ON b.customer_id = b1.id WHERE b1.`status` = 1 GROUP BY b.customer_id) b on a.id = b.id
	LEFT JOIN t_sys_user tsu on a.counsoler = tsu.id
	where 1 = 1
	<if test="starttime!=null and starttime!=''">
		and DATE_FORMAT(a.createTime, '%Y-%m-%d') &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		and DATE_FORMAT(a.createTime, '%Y-%m-%d') &lt;= #{endtime}
	</if>
	<if test="companyid!=null">
		and a.company_id = #{companyid}
	</if>
	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			GROUP BY DATE_FORMAT(a.createTime, '%Y'),a.counsoler,tsu.nickname
		</if>
		<if test="datetype==2">
			GROUP BY DATE_FORMAT(a.createTime, '%Y%m'),a.counsoler,tsu.nickname
		</if>
		<if test="datetype==3">
			GROUP BY DATE_FORMAT(a.createTime, '%Y%m%d'),a.counsoler,tsu.nickname
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		GROUP BY DATE_FORMAT(a.createTime, '%Y%m%d'),a.counsoler,tsu.nickname
	</if>
	order by datetime asc,total_amont desc
  </select>
  
   <select id="countSubscribeReport" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT
  	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			DATE_FORMAT(tcs.create_time, '%Y') datetime,
		</if>
		<if test="datetype==2">
			DATE_FORMAT(tcs.create_time, '%Y%m') datetime,
		</if>
		<if test="datetype==3">
			DATE_FORMAT(tcs.create_time, '%Y%m%d') datetime,
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		DATE_FORMAT(tcs.create_time, '%Y%m%d') datetime,
	</if>
		tsu.nickname,
		tc.`name` as companyname,
		count(tcs.id) totalOrder,
		sum(if(tcs.`status`=1,1,0)) secuessOrder,
		sum(if(tcs.`status`=99,1,0)) wastageOrder,
		sum(if(tcs.`status`=0,1,0)) unfinishedOrder
	FROM
		t_customer_subscribe tcs
	LEFT JOIN t_sys_user tsu ON tcs.create_user = tsu.username
	LEFT JOIN t_company tc ON tcs.company_id = tc.id
	LEFT JOIN v_root_in vri on tcs.root_in = vri.`value` and vri.companyid = tcs.company_id
	LEFT JOIN v_sex vs on tcs.sex=vs.`value`  and vs.companyid = tcs.company_id
	LEFT JOIN v_subscribe vss on tcs.`status` = vss.`value` and vss.companyid= tcs.company_id
	where 1 = 1
	<if test="starttime!=null and starttime!=''">
		and DATE_FORMAT(tcs.create_time, '%Y-%m-%d') &gt;= #{starttime}
	</if>
	<if test="endtime!=null and endtime!=''">
		and DATE_FORMAT(tcs.create_time, '%Y-%m-%d') &lt;= #{endtime}
	</if>
	<if test="companyid!=null">
		and tcs.company_id = #{companyid}
	</if>
	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			GROUP BY DATE_FORMAT(tcs.create_time, '%Y'),tsu.nickname,tcs.company_id
		</if>
		<if test="datetype==2">
			GROUP BY DATE_FORMAT(tcs.create_time, '%Y%m'),tsu.nickname,tcs.company_id
		</if>
		<if test="datetype==3">
			GROUP BY DATE_FORMAT(tcs.create_time, '%Y%m%d'),tsu.nickname,tcs.company_id
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		GROUP BY DATE_FORMAT(tcs.create_time, '%Y%m%d'),tsu.nickname,tcs.company_id
	</if>
	ORDER BY datetime asc,totalOrder desc
  </select>
  
  <select id="queryCountInventory" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT
  	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			DATE_FORMAT(til.create_time, '%Y') datetime,
		</if>
		<if test="datetype==2">
			DATE_FORMAT(til.create_time, '%Y%m') datetime,
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		DATE_FORMAT(til.create_time, '%Y%m') datetime,
	</if>
		tc.`name` as companyName,
		ti.`name` productName,
		ti.inventory currentInventoryNumbs,
		ti.units,
		ti.inventory*ti.price currentInventoryMonery,
		sum(if(til.option_type=4,ifnull(til.numbs,0),0))* ti.price addInventoryMonery,
		sum(if(til.option_type=5,ifnull(til.numbs,0),0))* ti.price removeInventoryMonery,
		sum(if(til.option_type=6,ifnull(til.numbs,0),0))* ti.price useInventoryMonery,
		sum(if(til.option_type=7,ifnull(til.numbs,0),0))* ti.price backInventoryMonery,
		sum(if(til.option_type=4,ifnull(til.numbs,0),0)) addNumbs,
		sum(if(til.option_type=5,ifnull(til.numbs,0),0)) removeNumbs,
		sum(if(til.option_type=6,ifnull(til.numbs,0),0)) orderUseNumbs,
		sum(if(til.option_type=7,ifnull(til.numbs,0),0)) orderBackNumbs
	FROM
		t_inventory ti
	LEFT JOIN t_inventory_log til ON ti.id = til.product_id
	LEFT JOIN t_company tc on ti.companyid=tc.id
	where 1 = 1 and til.product_id is not null
	<if test="year!=null and month!=null">
		and DATE_FORMAT(til.create_time, '%Y%m') = concat(#{year},#{month})
	</if>
	<if test="month==null and year!=null">
		and DATE_FORMAT(til.create_time, '%Y') = #{year}
	</if>
	<if test="companyid!=null">
		and ti.companyid = #{companyid}
	</if>
	<if test="datetype!=null and datetype!=''">
		<if test="datetype==1">
			GROUP BY DATE_FORMAT(til.create_time, '%Y'),ti.id,ti.companyid
		</if>
		<if test="datetype==2">
			GROUP BY DATE_FORMAT(til.create_time, '%Y%m'),ti.id,ti.companyid
		</if>
	</if>
	<if test="datetype==null or datetype==''">
		GROUP BY DATE_FORMAT(til.create_time, '%Y%m'),ti.id,ti.companyid
	</if>
	ORDER BY datetime asc,currentInventoryNumbs desc,companyName
  </select>
  
  <select id="queryCountInventoryPie" parameterType="java.util.Map" resultType="java.util.Map">
		select @rownum:=@rownum+1 as rownum,btemp.* from (
			SELECT 
				<if test="datetype!=null and datetype!=''">
					<if test="datetype==1">
						DATE_FORMAT(til.create_time, '%Y') datetime,
					</if>
					<if test="datetype==2">
						DATE_FORMAT(til.create_time, '%Y%m') datetime,
					</if>
				</if>
				tc.`name` as companyName,
				ti.`name` as name,
				sum(if(til.option_type=6 or til.option_type=5 ,ifnull(til.numbs,0),0))* ti.price value
			 from t_inventory ti
			LEFT JOIN t_inventory_log til ON ti.id = til.product_id
			LEFT JOIN t_company tc on ti.companyid=tc.id
			where 1=1 
				<if test="year!=null and month!=null">
					and DATE_FORMAT(til.create_time, '%Y%m') = concat(#{year},#{month,jdbcType=VARCHAR})
				</if>
				<if test="month==null and year!=null">
					and DATE_FORMAT(til.create_time, '%Y') = #{year}
				</if>
				<if test="companyid!=null">
					and ti.companyid = #{companyid}
				</if>
				<if test="datetype!=null and datetype!=''">
					<if test="datetype==1">
						GROUP BY ti.id,ti.companyid,DATE_FORMAT(til.create_time, '%Y')
					</if>
					<if test="datetype==2">
						GROUP BY ti.id,ti.companyid,DATE_FORMAT(til.create_time, '%Y%m')
					</if>
				</if>
			ORDER BY value desc
			LIMIT 10
		) btemp,(select @rownum:=0) t 
		
		UNION
		
		SELECT 11 as rownum,temp1.datetime,temp1.companyName,'其他' as productName,sum(temp1.value) value from (
			SELECT @rownum1:=@rownum1+1 as rownum1,temp.* from (
				SELECT 
				<if test="datetype!=null and datetype!=''">
					<if test="datetype==1">
						DATE_FORMAT(til.create_time, '%Y') datetime,
					</if>
					<if test="datetype==2">
						DATE_FORMAT(til.create_time, '%Y%m') datetime,
					</if>
				</if>
					tc.`name` as companyName,
					ti.`name`  as name,
					sum(if(til.option_type=6 or til.option_type=5 ,ifnull(til.numbs,0),0))* ti.price value
				 from t_inventory ti
				LEFT JOIN t_inventory_log til ON ti.id = til.product_id
				LEFT JOIN t_company tc on ti.companyid=tc.id
				where 1=1 
				<if test="year!=null and month!=null">
					and DATE_FORMAT(til.create_time, '%Y%m') = concat(#{year},#{month,jdbcType=VARCHAR})
				</if>
				<if test="month==null and year!=null">
					and DATE_FORMAT(til.create_time, '%Y') = #{year}
				</if>
				<if test="companyid!=null">
					and ti.companyid = #{companyid}
				</if>
				<if test="datetype!=null and datetype!=''">
					<if test="datetype==1">
						GROUP BY ti.id,ti.companyid,DATE_FORMAT(til.create_time, '%Y')
					</if>
					<if test="datetype==2">
						GROUP BY ti.id,ti.companyid,DATE_FORMAT(til.create_time, '%Y%m')
					</if>
				</if>
				ORDER BY value desc
			) temp,(select @rownum1:=0) t 
		) temp1 where temp1.rownum1>10
	GROUP BY temp1.datetime,temp1.companyName
	ORDER BY rownum
  </select>
</mapper>