<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasq.bdp.logn.mapper.TCustomerPorjectMapper">
  <resultMap id="BaseResultMap" type="com.gasq.bdp.logn.model.TCustomerPorject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vip_id" jdbcType="INTEGER" property="vipId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_type" jdbcType="INTEGER" property="projectType" />
    <result column="project_nums" jdbcType="INTEGER" property="projectNums" />
    <result column="total_project_nums" jdbcType="INTEGER" property="totalProjectNums" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, vip_id, order_id, project_id, project_type, project_nums, total_project_nums, 
    deadline, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.gasq.bdp.logn.model.TCustomerPorjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_customer_porject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_porject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_porject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gasq.bdp.logn.model.TCustomerPorjectExample">
    delete from t_customer_porject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gasq.bdp.logn.model.TCustomerPorject">
    insert into t_customer_porject (id, vip_id, order_id, 
      project_id, project_type, project_nums, 
      total_project_nums, deadline, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{vipId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{projectType,jdbcType=INTEGER}, #{projectNums,jdbcType=INTEGER}, 
      #{totalProjectNums,jdbcType=INTEGER}, #{deadline,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gasq.bdp.logn.model.TCustomerPorject">
    insert into t_customer_porject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vipId != null">
        vip_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectType != null">
        project_type,
      </if>
      <if test="projectNums != null">
        project_nums,
      </if>
      <if test="totalProjectNums != null">
        total_project_nums,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vipId != null">
        #{vipId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectNums != null">
        #{projectNums,jdbcType=INTEGER},
      </if>
      <if test="totalProjectNums != null">
        #{totalProjectNums,jdbcType=INTEGER},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gasq.bdp.logn.model.TCustomerPorjectExample" resultType="java.lang.Long">
    select count(*) from t_customer_porject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_customer_porject
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.vipId != null">
        vip_id = #{record.vipId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.projectType != null">
        project_type = #{record.projectType,jdbcType=INTEGER},
      </if>
      <if test="record.projectNums != null">
        project_nums = #{record.projectNums,jdbcType=INTEGER},
      </if>
      <if test="record.totalProjectNums != null">
        total_project_nums = #{record.totalProjectNums,jdbcType=INTEGER},
      </if>
      <if test="record.deadline != null">
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_customer_porject
    set id = #{record.id,jdbcType=INTEGER},
      vip_id = #{record.vipId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      project_type = #{record.projectType,jdbcType=INTEGER},
      project_nums = #{record.projectNums,jdbcType=INTEGER},
      total_project_nums = #{record.totalProjectNums,jdbcType=INTEGER},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gasq.bdp.logn.model.TCustomerPorject">
    update t_customer_porject
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        project_type = #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectNums != null">
        project_nums = #{projectNums,jdbcType=INTEGER},
      </if>
      <if test="totalProjectNums != null">
        total_project_nums = #{totalProjectNums,jdbcType=INTEGER},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gasq.bdp.logn.model.TCustomerPorject">
    update t_customer_porject
    set vip_id = #{vipId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      project_type = #{projectType,jdbcType=INTEGER},
      project_nums = #{projectNums,jdbcType=INTEGER},
      total_project_nums = #{totalProjectNums,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gasq.bdp.logn.model.TCustomerPorjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_customer_porject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="queryPagingList" parameterType="java.util.HashMap" resultType="java.util.Map">
	SELECT
		p.id,p.vip_id as vipId,p.project_id as projectId,tp.project_name as projectName,p.total_project_nums as totalProjectNums
		,tvc.customer_name as customerName,tvc.customer_phone customerPhone,p.project_nums as projectNums,p.create_time,tsu1.nickname as updateUser,p.update_time
		,p.project_type as projectType,vpt.`name` as projectTypeName,p.deadline
	FROM
		`t_customer_porject` p
	left join t_sys_user tsu on p.create_user=tsu.username
	left join t_sys_user tsu1 on p.update_user=tsu1.username
	LEFT JOIN t_project tp on p.project_id= tp.id
	LEFT JOIN t_vip_customer tvc on p.vip_id=tvc.id
	LEFT JOIN v_project_type vpt on p.project_type=vpt.`value`
	where 1=1 
	<if test="vip_id !=null">
		and p.vip_id=#{vip_id}
	</if>
	order by p.create_time desc 
	<if test="index !=null and pageSize!=null">
		limit #{index},#{pageSize}
	</if>
</select>
<select id="countByBean" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(*) from (
		SELECT
			p.id,p.vip_id as vipId,p.project_id as projectId,tp.project_name as projectName,p.total_project_nums as totalProjectNums
			,tvc.customer_name as customerName,tvc.customer_phone customerPhone,p.project_nums as projectNums,p.create_time,tsu1.nickname as updateUser,p.update_time
			,p.project_type as projectType,vpt.`name` as projectTypeName,p.deadline
		FROM
			`t_customer_porject` p
		left join t_sys_user tsu on p.create_user=tsu.username
		left join t_sys_user tsu1 on p.update_user=tsu1.username
		LEFT JOIN t_project tp on p.project_id= tp.id
		LEFT JOIN t_vip_customer tvc on p.vip_id=tvc.id
		LEFT JOIN v_project_type vpt on p.project_type=vpt.`value`
		where 1=1   
		<if test="vip_id !=null">
			and p.vip_id=#{vip_id}
		</if>
	) temp
</select>
</mapper>