<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasq.bdp.logn.mapper.TEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.gasq.bdp.logn.model.TEquipment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="buy_date" jdbcType="TIMESTAMP" property="buyDate" />
    <result column="buy_user" jdbcType="VARCHAR" property="buyUser" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="buy_price" jdbcType="DECIMAL" property="buyPrice" />
    <result column="depreciation_life" jdbcType="INTEGER" property="depreciationLife" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, code, factory, buy_date, buy_user, manager, buy_price, depreciation_life, 
    type, status, company_id, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.gasq.bdp.logn.model.TEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gasq.bdp.logn.model.TEquipmentExample">
    delete from t_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gasq.bdp.logn.model.TEquipment">
    insert into t_equipment (id, name, code, 
      factory, buy_date, buy_user, 
      manager, buy_price, depreciation_life, 
      type, status, company_id, 
      create_user, create_time, update_user, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{buyDate,jdbcType=TIMESTAMP}, #{buyUser,jdbcType=VARCHAR}, 
      #{manager,jdbcType=VARCHAR}, #{buyPrice,jdbcType=DECIMAL}, #{depreciationLife,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gasq.bdp.logn.model.TEquipment">
    insert into t_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="buyDate != null">
        buy_date,
      </if>
      <if test="buyUser != null">
        buy_user,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="buyPrice != null">
        buy_price,
      </if>
      <if test="depreciationLife != null">
        depreciation_life,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null">
        #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="buyUser != null">
        #{buyUser,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null">
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="depreciationLife != null">
        #{depreciationLife,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gasq.bdp.logn.model.TEquipmentExample" resultType="java.lang.Long">
    select count(*) from t_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_equipment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.buyDate != null">
        buy_date = #{record.buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.buyUser != null">
        buy_user = #{record.buyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null">
        manager = #{record.manager,jdbcType=VARCHAR},
      </if>
      <if test="record.buyPrice != null">
        buy_price = #{record.buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.depreciationLife != null">
        depreciation_life = #{record.depreciationLife,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_equipment
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      buy_date = #{record.buyDate,jdbcType=TIMESTAMP},
      buy_user = #{record.buyUser,jdbcType=VARCHAR},
      manager = #{record.manager,jdbcType=VARCHAR},
      buy_price = #{record.buyPrice,jdbcType=DECIMAL},
      depreciation_life = #{record.depreciationLife,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gasq.bdp.logn.model.TEquipment">
    update t_equipment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null">
        buy_date = #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="buyUser != null">
        buy_user = #{buyUser,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null">
        buy_price = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="depreciationLife != null">
        depreciation_life = #{depreciationLife,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gasq.bdp.logn.model.TEquipment">
    update t_equipment
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      buy_date = #{buyDate,jdbcType=TIMESTAMP},
      buy_user = #{buyUser,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      buy_price = #{buyPrice,jdbcType=DECIMAL},
      depreciation_life = #{depreciationLife,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gasq.bdp.logn.model.TEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
<select id="queryPagingList" parameterType="java.util.HashMap" resultType="java.util.Map">
	SELECT
		p.id,p.company_id as companyId,p.name,p.code,p.buy_date as buyDate,p.buy_user as buyUser,p.buy_price as buyPrice,p.depreciation_life as depreciationLife
		,p.factory,p.manager,p.`status`,p.type,p.create_time,p.update_time,tc.`name` as companyName,u1.nickname as buyUserName,u2.nickname as managerName,u3.nickname as createUser,u4.nickname as updateUser
		,ves.text as statusName,vet.text as typeName
	FROM
		`t_equipment` p
	LEFT JOIN t_company tc on p.company_id=tc.id
	LEFT JOIN t_sys_user u1 on p.buy_user =u1.id and u1.companyid=p.company_id
	LEFT JOIN t_sys_user u2 on p.manager =u2.id and u2.companyid=p.company_id
	LEFT JOIN t_sys_user u3 on p.create_user =u3.username and u3.companyid=p.company_id
	LEFT JOIN t_sys_user u4 on p.update_user =u4.username and u4.companyid=p.company_id
	LEFT JOIN v_equipment_status ves on p.`status`=ves.`value`
	LEFT JOIN v_equipment_type vet on p.type =vet.`value`
	where 1=1 
	<if test="name !=null and name!=''">
		and p.name like concat('%',#{name},'%')
	</if>
	<if test="status !=null">
		and p.status=#{status}
	</if>
	<if test="type !=null">
		and p.type=#{type}
	</if>
	<if test="companyid !=null">
		and p.company_id=#{companyid}
	</if>
	order by p.update_time desc 
	<if test="index !=null and pageSize!=null">
		limit #{index},#{pageSize}
	</if>
</select>
<select id="countByBean" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select count(*) from(
		SELECT
			p.id,p.company_id as companyId,p.name,p.code,p.buy_date as buyDate,p.buy_user as buyUser,p.buy_price as buyPrice,p.depreciation_life as depreciationLife
			,p.factory,p.manager,p.`status`,p.type,p.create_time,p.update_time,tc.`name` as companyName,u1.nickname as buyUserName,u2.nickname as managerName,u3.nickname as createUser,u4.nickname as updateUser
			,ves.text as statusName,vet.text as typeName
		FROM
			`t_equipment` p
		LEFT JOIN t_company tc on p.company_id=tc.id
		LEFT JOIN t_sys_user u1 on p.buy_user =u1.username and u1.companyid=p.company_id
		LEFT JOIN t_sys_user u2 on p.manager =u2.username and u2.companyid=p.company_id
		LEFT JOIN t_sys_user u3 on p.create_user =u3.username and u3.companyid=p.company_id
		LEFT JOIN t_sys_user u4 on p.update_user =u4.username and u4.companyid=p.company_id
		LEFT JOIN v_equipment_status ves on p.`status`=ves.`value`
		LEFT JOIN v_equipment_type vet on p.type =vet.`value`
		where 1=1 
		<if test="name !=null and name!=''">
			and p.name like concat('%',#{name},'%')
		</if>
		<if test="status !=null">
			and p.status=#{status}
		</if>
		<if test="type !=null">
			and p.type=#{type}
		</if>
		<if test="companyid !=null">
			and p.company_id=#{companyid}
		</if>
	) temp
</select>

<select id="queryAmountSum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	SELECT
		sum(ifnull(p.buy_price, 0)) total_amount,
		sum(if(p.`status`&gt;0 and p.`status`&lt;5,ifnull(p.buy_price, 0),0)) actual_total_amount
	FROM
		`t_equipment` p
	where 1=1 
	<if test="name !=null and name!=''">
		and p.name like concat('%',#{name},'%')
	</if>
	<if test="status !=null">
		and p.status=#{status}
	</if>
	<if test="type !=null">
		and p.type=#{type}
	</if>
	<if test="companyid !=null">
		and p.company_id=#{companyid}
	</if>
</select>
</mapper>