<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasq.bdp.logn.mapper.TTherapistTreatmentTimeInfoMapper">
  <resultMap id="BaseResultMap" type="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="chu_fu_zhen" jdbcType="SMALLINT" property="chuFuZhen" />
    <result column="treatment_time" jdbcType="INTEGER" property="treatmentTime" />
    <result column="day" jdbcType="DATE" property="day" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="companyid" jdbcType="INTEGER" property="companyid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, order_id, chu_fu_zhen, treatment_time, day, status, create_time, create_user, 
    update_time, update_user, companyid
  </sql>
  <select id="selectByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_therapist_treatment_time_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfoExample">
    delete from t_therapist_treatment_time_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfo">
    insert into t_therapist_treatment_time_info (id, user_id, order_id, 
      chu_fu_zhen, treatment_time, day, 
      status, create_time, create_user, 
      update_time, update_user, companyid
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{chuFuZhen,jdbcType=SMALLINT}, #{treatmentTime,jdbcType=INTEGER}, #{day,jdbcType=DATE}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{companyid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfo">
    insert into t_therapist_treatment_time_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="chuFuZhen != null">
        chu_fu_zhen,
      </if>
      <if test="treatmentTime != null">
        treatment_time,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="companyid != null">
        companyid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="chuFuZhen != null">
        #{chuFuZhen,jdbcType=SMALLINT},
      </if>
      <if test="treatmentTime != null">
        #{treatmentTime,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        #{day,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfoExample" resultType="java.lang.Long">
    select count(*) from t_therapist_treatment_time_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_therapist_treatment_time_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.chuFuZhen != null">
        chu_fu_zhen = #{record.chuFuZhen,jdbcType=SMALLINT},
      </if>
      <if test="record.treatmentTime != null">
        treatment_time = #{record.treatmentTime,jdbcType=INTEGER},
      </if>
      <if test="record.day != null">
        day = #{record.day,jdbcType=DATE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.companyid != null">
        companyid = #{record.companyid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_therapist_treatment_time_info
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      chu_fu_zhen = #{record.chuFuZhen,jdbcType=SMALLINT},
      treatment_time = #{record.treatmentTime,jdbcType=INTEGER},
      day = #{record.day,jdbcType=DATE},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      companyid = #{record.companyid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfo">
    update t_therapist_treatment_time_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="chuFuZhen != null">
        chu_fu_zhen = #{chuFuZhen,jdbcType=SMALLINT},
      </if>
      <if test="treatmentTime != null">
        treatment_time = #{treatmentTime,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfo">
    update t_therapist_treatment_time_info
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      chu_fu_zhen = #{chuFuZhen,jdbcType=SMALLINT},
      treatment_time = #{treatmentTime,jdbcType=INTEGER},
      day = #{day,jdbcType=DATE},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      companyid = #{companyid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="queryZLSList" parameterType="java.util.HashMap" resultType="java.util.Map">
  	<if test="record.chuFuZhen==0 or record.chuFuZhen==null">
	  	<if test="record.daytype==1">
		  	SELECT vtt1.value,vtt1.text text,
		  	IFNULL(temp.day,#{record.day}) day,
		  	ifnull(temp.user_id,#{record.userId}) userid,ifnull(temp.nickname,(select a.nickname from t_sys_user a where a.id=#{record.userId})) nickname,
		  	if(temp.`status`=1,1,0) status,
		  	if(temp.`status`=1 or (temp.`status` is null and CAST(vtt1.`value` AS SIGNED)&lt;DATE_FORMAT(now(),'%H')),true,false) disabled,temp.chuFuZhenName
			from v_treatment_time vtt1 LEFT JOIN (
				SELECT vtt.text,vtt.`value`,a.day,a.user_id,tsu.nickname,a.status,vcfz.text as chuFuZhenName
				FROM v_treatment_time vtt
				INNER JOIN `t_therapist_treatment_time_info` a on a.treatment_time = vtt.`value`
				INNER JOIN t_sys_user tsu on a.user_id=tsu.id
				left join v_chu_fu_zhen vcfz on a.chu_fu_zhen=vcfz.value
				where a.`status`=1 
				<if test="record.day!=null">
					and a.`day` = #{record.day} 
				</if>
				 and a.user_id = #{record.userId}
			) temp on vtt1.`value` = temp.value
			GROUP BY vtt1.value,vtt1.text,temp.DAY,temp.chuFuZhenName
			order by CAST(vtt1.`value` AS SIGNED)
	  	</if>
	  	<if test="record.daytype==2">
		  	SELECT vtt1.value,vtt1.text text,
		  	IFNULL(temp.day,#{record.day}) day,
		  	ifnull(temp.user_id,#{record.userId}) userid,ifnull(temp.nickname,(select a.nickname from t_sys_user a where a.id=#{record.userId})) nickname,
		  	if(temp.`status`=1,1,0) status,
		  	if(temp.`status`=1,true,false) as disabled,temp.chuFuZhenName
			from v_treatment_time vtt1 LEFT JOIN (
				SELECT vtt.text,vtt.`value`,a.day,a.user_id,tsu.nickname,a.status,vcfz.text as chuFuZhenName
				FROM v_treatment_time vtt
				INNER JOIN `t_therapist_treatment_time_info` a on a.treatment_time = vtt.`value`
				INNER JOIN t_sys_user tsu on a.user_id=tsu.id
				left join v_chu_fu_zhen vcfz on a.chu_fu_zhen=vcfz.value
				where a.`status`=1 
				<if test="record.day!=null">
					and a.`day` = #{record.day} 
				</if>
				 and a.user_id = #{record.userId}
			) temp on vtt1.`value` = temp.value
			GROUP BY vtt1.value,vtt1.text,temp.DAY,temp.chuFuZhenName
			order by CAST(vtt1.`value` AS SIGNED)
	  	</if>
  	</if>
  	<if test="record.chuFuZhen==1">
  		SELECT vtt1.value,vtt1.text text,
	  	<if test="record.day!=null">
		  	IFNULL(temp.day,#{record.day}) day,
	  	</if>
	  	<if test="record.day==null">
	  		IFNULL(temp.day,DATE_FORMAT(now(),'%Y-%m-%d')) day,
	  	</if>
	  	ifnull(temp.user_id,#{record.userId}) userid,ifnull(temp.nickname,(select a.nickname from t_sys_user a where a.id=#{record.userId})) nickname,
	  	if(temp.`status`=1,1,0) status,
	  	if(CAST(vtt1.`value` AS SIGNED)&lt;DATE_FORMAT(now(),'%H'),true,false) disabled
		from v_treatment_time vtt1 LEFT JOIN (
			SELECT vtt.text,vtt.`value`,a.day,a.user_id,tsu.nickname,a.status
			FROM v_treatment_time vtt
			INNER JOIN `t_therapist_treatment_time_info` a on a.treatment_time = vtt.`value`
			INNER JOIN t_sys_user tsu on a.user_id=tsu.id
			where a.`status`=1 
			<if test="record.day!=null">
				and a.`day` = #{record.day} 
			</if>
			 and a.user_id = #{record.userId}
		) temp on vtt1.`value` = temp.value
		GROUP BY vtt1.value,vtt1.text,temp.DAY
		order by CAST(vtt1.`value` AS SIGNED)
  	</if>
  </select>
</mapper>