<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasq.bdp.logn.mapper.TTherapistTreatmentTimeQueryMapper">
  <resultMap id="BaseResultMap" type="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="time1" jdbcType="VARCHAR" property="time1" />
    <result column="time2" jdbcType="VARCHAR" property="time2" />
    <result column="time3" jdbcType="VARCHAR" property="time3" />
    <result column="time4" jdbcType="VARCHAR" property="time4" />
    <result column="time5" jdbcType="VARCHAR" property="time5" />
    <result column="time6" jdbcType="VARCHAR" property="time6" />
    <result column="time7" jdbcType="VARCHAR" property="time7" />
    <result column="time8" jdbcType="VARCHAR" property="time8" />
    <result column="time9" jdbcType="VARCHAR" property="time9" />
    <result column="time10" jdbcType="VARCHAR" property="time10" />
    <result column="time11" jdbcType="VARCHAR" property="time11" />
    <result column="time12" jdbcType="VARCHAR" property="time12" />
    <result column="time13" jdbcType="VARCHAR" property="time13" />
    <result column="time14" jdbcType="VARCHAR" property="time14" />
    <result column="time15" jdbcType="VARCHAR" property="time15" />
    <result column="time16" jdbcType="VARCHAR" property="time16" />
    <result column="time17" jdbcType="VARCHAR" property="time17" />
    <result column="time18" jdbcType="VARCHAR" property="time18" />
    <result column="time19" jdbcType="VARCHAR" property="time19" />
    <result column="time20" jdbcType="VARCHAR" property="time20" />
    <result column="time21" jdbcType="VARCHAR" property="time21" />
    <result column="time22" jdbcType="VARCHAR" property="time22" />
    <result column="time23" jdbcType="VARCHAR" property="time23" />
    <result column="time24" jdbcType="VARCHAR" property="time24" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, companyid, cycle, username, time1, time2, time3, time4, time5, time6, time7, 
    time8, time9, time10, time11, time12, time13, time14, time15, time16, time17, time18, 
    time19, time20, time21, time22, time23, time24, remark, create_user, create_time, 
    update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQueryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_query
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_therapist_treatment_time_query
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQueryExample">
    delete from t_therapist_treatment_time_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery">
    insert into t_therapist_treatment_time_query (id, companyid, cycle, 
      username, time1, time2, 
      time3, time4, time5, 
      time6, time7, time8, 
      time9, time10, time11, 
      time12, time13, time14, 
      time15, time16, time17, 
      time18, time19, time20, 
      time21, time22, time23, 
      time24, remark, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{cycle,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{time1,jdbcType=VARCHAR}, #{time2,jdbcType=VARCHAR}, 
      #{time3,jdbcType=VARCHAR}, #{time4,jdbcType=VARCHAR}, #{time5,jdbcType=VARCHAR}, 
      #{time6,jdbcType=VARCHAR}, #{time7,jdbcType=VARCHAR}, #{time8,jdbcType=VARCHAR}, 
      #{time9,jdbcType=VARCHAR}, #{time10,jdbcType=VARCHAR}, #{time11,jdbcType=VARCHAR}, 
      #{time12,jdbcType=VARCHAR}, #{time13,jdbcType=VARCHAR}, #{time14,jdbcType=VARCHAR}, 
      #{time15,jdbcType=VARCHAR}, #{time16,jdbcType=VARCHAR}, #{time17,jdbcType=VARCHAR}, 
      #{time18,jdbcType=VARCHAR}, #{time19,jdbcType=VARCHAR}, #{time20,jdbcType=VARCHAR}, 
      #{time21,jdbcType=VARCHAR}, #{time22,jdbcType=VARCHAR}, #{time23,jdbcType=VARCHAR}, 
      #{time24,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery">
    insert into t_therapist_treatment_time_query
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyid != null">
        companyid,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="time1 != null">
        time1,
      </if>
      <if test="time2 != null">
        time2,
      </if>
      <if test="time3 != null">
        time3,
      </if>
      <if test="time4 != null">
        time4,
      </if>
      <if test="time5 != null">
        time5,
      </if>
      <if test="time6 != null">
        time6,
      </if>
      <if test="time7 != null">
        time7,
      </if>
      <if test="time8 != null">
        time8,
      </if>
      <if test="time9 != null">
        time9,
      </if>
      <if test="time10 != null">
        time10,
      </if>
      <if test="time11 != null">
        time11,
      </if>
      <if test="time12 != null">
        time12,
      </if>
      <if test="time13 != null">
        time13,
      </if>
      <if test="time14 != null">
        time14,
      </if>
      <if test="time15 != null">
        time15,
      </if>
      <if test="time16 != null">
        time16,
      </if>
      <if test="time17 != null">
        time17,
      </if>
      <if test="time18 != null">
        time18,
      </if>
      <if test="time19 != null">
        time19,
      </if>
      <if test="time20 != null">
        time20,
      </if>
      <if test="time21 != null">
        time21,
      </if>
      <if test="time22 != null">
        time22,
      </if>
      <if test="time23 != null">
        time23,
      </if>
      <if test="time24 != null">
        time24,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="time1 != null">
        #{time1,jdbcType=VARCHAR},
      </if>
      <if test="time2 != null">
        #{time2,jdbcType=VARCHAR},
      </if>
      <if test="time3 != null">
        #{time3,jdbcType=VARCHAR},
      </if>
      <if test="time4 != null">
        #{time4,jdbcType=VARCHAR},
      </if>
      <if test="time5 != null">
        #{time5,jdbcType=VARCHAR},
      </if>
      <if test="time6 != null">
        #{time6,jdbcType=VARCHAR},
      </if>
      <if test="time7 != null">
        #{time7,jdbcType=VARCHAR},
      </if>
      <if test="time8 != null">
        #{time8,jdbcType=VARCHAR},
      </if>
      <if test="time9 != null">
        #{time9,jdbcType=VARCHAR},
      </if>
      <if test="time10 != null">
        #{time10,jdbcType=VARCHAR},
      </if>
      <if test="time11 != null">
        #{time11,jdbcType=VARCHAR},
      </if>
      <if test="time12 != null">
        #{time12,jdbcType=VARCHAR},
      </if>
      <if test="time13 != null">
        #{time13,jdbcType=VARCHAR},
      </if>
      <if test="time14 != null">
        #{time14,jdbcType=VARCHAR},
      </if>
      <if test="time15 != null">
        #{time15,jdbcType=VARCHAR},
      </if>
      <if test="time16 != null">
        #{time16,jdbcType=VARCHAR},
      </if>
      <if test="time17 != null">
        #{time17,jdbcType=VARCHAR},
      </if>
      <if test="time18 != null">
        #{time18,jdbcType=VARCHAR},
      </if>
      <if test="time19 != null">
        #{time19,jdbcType=VARCHAR},
      </if>
      <if test="time20 != null">
        #{time20,jdbcType=VARCHAR},
      </if>
      <if test="time21 != null">
        #{time21,jdbcType=VARCHAR},
      </if>
      <if test="time22 != null">
        #{time22,jdbcType=VARCHAR},
      </if>
      <if test="time23 != null">
        #{time23,jdbcType=VARCHAR},
      </if>
      <if test="time24 != null">
        #{time24,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQueryExample" resultType="java.lang.Long">
    select count(*) from t_therapist_treatment_time_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_therapist_treatment_time_query
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null">
        companyid = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.cycle != null">
        cycle = #{record.cycle,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.time1 != null">
        time1 = #{record.time1,jdbcType=VARCHAR},
      </if>
      <if test="record.time2 != null">
        time2 = #{record.time2,jdbcType=VARCHAR},
      </if>
      <if test="record.time3 != null">
        time3 = #{record.time3,jdbcType=VARCHAR},
      </if>
      <if test="record.time4 != null">
        time4 = #{record.time4,jdbcType=VARCHAR},
      </if>
      <if test="record.time5 != null">
        time5 = #{record.time5,jdbcType=VARCHAR},
      </if>
      <if test="record.time6 != null">
        time6 = #{record.time6,jdbcType=VARCHAR},
      </if>
      <if test="record.time7 != null">
        time7 = #{record.time7,jdbcType=VARCHAR},
      </if>
      <if test="record.time8 != null">
        time8 = #{record.time8,jdbcType=VARCHAR},
      </if>
      <if test="record.time9 != null">
        time9 = #{record.time9,jdbcType=VARCHAR},
      </if>
      <if test="record.time10 != null">
        time10 = #{record.time10,jdbcType=VARCHAR},
      </if>
      <if test="record.time11 != null">
        time11 = #{record.time11,jdbcType=VARCHAR},
      </if>
      <if test="record.time12 != null">
        time12 = #{record.time12,jdbcType=VARCHAR},
      </if>
      <if test="record.time13 != null">
        time13 = #{record.time13,jdbcType=VARCHAR},
      </if>
      <if test="record.time14 != null">
        time14 = #{record.time14,jdbcType=VARCHAR},
      </if>
      <if test="record.time15 != null">
        time15 = #{record.time15,jdbcType=VARCHAR},
      </if>
      <if test="record.time16 != null">
        time16 = #{record.time16,jdbcType=VARCHAR},
      </if>
      <if test="record.time17 != null">
        time17 = #{record.time17,jdbcType=VARCHAR},
      </if>
      <if test="record.time18 != null">
        time18 = #{record.time18,jdbcType=VARCHAR},
      </if>
      <if test="record.time19 != null">
        time19 = #{record.time19,jdbcType=VARCHAR},
      </if>
      <if test="record.time20 != null">
        time20 = #{record.time20,jdbcType=VARCHAR},
      </if>
      <if test="record.time21 != null">
        time21 = #{record.time21,jdbcType=VARCHAR},
      </if>
      <if test="record.time22 != null">
        time22 = #{record.time22,jdbcType=VARCHAR},
      </if>
      <if test="record.time23 != null">
        time23 = #{record.time23,jdbcType=VARCHAR},
      </if>
      <if test="record.time24 != null">
        time24 = #{record.time24,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_therapist_treatment_time_query
    set id = #{record.id,jdbcType=INTEGER},
      companyid = #{record.companyid,jdbcType=INTEGER},
      cycle = #{record.cycle,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      time1 = #{record.time1,jdbcType=VARCHAR},
      time2 = #{record.time2,jdbcType=VARCHAR},
      time3 = #{record.time3,jdbcType=VARCHAR},
      time4 = #{record.time4,jdbcType=VARCHAR},
      time5 = #{record.time5,jdbcType=VARCHAR},
      time6 = #{record.time6,jdbcType=VARCHAR},
      time7 = #{record.time7,jdbcType=VARCHAR},
      time8 = #{record.time8,jdbcType=VARCHAR},
      time9 = #{record.time9,jdbcType=VARCHAR},
      time10 = #{record.time10,jdbcType=VARCHAR},
      time11 = #{record.time11,jdbcType=VARCHAR},
      time12 = #{record.time12,jdbcType=VARCHAR},
      time13 = #{record.time13,jdbcType=VARCHAR},
      time14 = #{record.time14,jdbcType=VARCHAR},
      time15 = #{record.time15,jdbcType=VARCHAR},
      time16 = #{record.time16,jdbcType=VARCHAR},
      time17 = #{record.time17,jdbcType=VARCHAR},
      time18 = #{record.time18,jdbcType=VARCHAR},
      time19 = #{record.time19,jdbcType=VARCHAR},
      time20 = #{record.time20,jdbcType=VARCHAR},
      time21 = #{record.time21,jdbcType=VARCHAR},
      time22 = #{record.time22,jdbcType=VARCHAR},
      time23 = #{record.time23,jdbcType=VARCHAR},
      time24 = #{record.time24,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery">
    update t_therapist_treatment_time_query
    <set>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="time1 != null">
        time1 = #{time1,jdbcType=VARCHAR},
      </if>
      <if test="time2 != null">
        time2 = #{time2,jdbcType=VARCHAR},
      </if>
      <if test="time3 != null">
        time3 = #{time3,jdbcType=VARCHAR},
      </if>
      <if test="time4 != null">
        time4 = #{time4,jdbcType=VARCHAR},
      </if>
      <if test="time5 != null">
        time5 = #{time5,jdbcType=VARCHAR},
      </if>
      <if test="time6 != null">
        time6 = #{time6,jdbcType=VARCHAR},
      </if>
      <if test="time7 != null">
        time7 = #{time7,jdbcType=VARCHAR},
      </if>
      <if test="time8 != null">
        time8 = #{time8,jdbcType=VARCHAR},
      </if>
      <if test="time9 != null">
        time9 = #{time9,jdbcType=VARCHAR},
      </if>
      <if test="time10 != null">
        time10 = #{time10,jdbcType=VARCHAR},
      </if>
      <if test="time11 != null">
        time11 = #{time11,jdbcType=VARCHAR},
      </if>
      <if test="time12 != null">
        time12 = #{time12,jdbcType=VARCHAR},
      </if>
      <if test="time13 != null">
        time13 = #{time13,jdbcType=VARCHAR},
      </if>
      <if test="time14 != null">
        time14 = #{time14,jdbcType=VARCHAR},
      </if>
      <if test="time15 != null">
        time15 = #{time15,jdbcType=VARCHAR},
      </if>
      <if test="time16 != null">
        time16 = #{time16,jdbcType=VARCHAR},
      </if>
      <if test="time17 != null">
        time17 = #{time17,jdbcType=VARCHAR},
      </if>
      <if test="time18 != null">
        time18 = #{time18,jdbcType=VARCHAR},
      </if>
      <if test="time19 != null">
        time19 = #{time19,jdbcType=VARCHAR},
      </if>
      <if test="time20 != null">
        time20 = #{time20,jdbcType=VARCHAR},
      </if>
      <if test="time21 != null">
        time21 = #{time21,jdbcType=VARCHAR},
      </if>
      <if test="time22 != null">
        time22 = #{time22,jdbcType=VARCHAR},
      </if>
      <if test="time23 != null">
        time23 = #{time23,jdbcType=VARCHAR},
      </if>
      <if test="time24 != null">
        time24 = #{time24,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery">
    update t_therapist_treatment_time_query
    set companyid = #{companyid,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      time1 = #{time1,jdbcType=VARCHAR},
      time2 = #{time2,jdbcType=VARCHAR},
      time3 = #{time3,jdbcType=VARCHAR},
      time4 = #{time4,jdbcType=VARCHAR},
      time5 = #{time5,jdbcType=VARCHAR},
      time6 = #{time6,jdbcType=VARCHAR},
      time7 = #{time7,jdbcType=VARCHAR},
      time8 = #{time8,jdbcType=VARCHAR},
      time9 = #{time9,jdbcType=VARCHAR},
      time10 = #{time10,jdbcType=VARCHAR},
      time11 = #{time11,jdbcType=VARCHAR},
      time12 = #{time12,jdbcType=VARCHAR},
      time13 = #{time13,jdbcType=VARCHAR},
      time14 = #{time14,jdbcType=VARCHAR},
      time15 = #{time15,jdbcType=VARCHAR},
      time16 = #{time16,jdbcType=VARCHAR},
      time17 = #{time17,jdbcType=VARCHAR},
      time18 = #{time18,jdbcType=VARCHAR},
      time19 = #{time19,jdbcType=VARCHAR},
      time20 = #{time20,jdbcType=VARCHAR},
      time21 = #{time21,jdbcType=VARCHAR},
      time22 = #{time22,jdbcType=VARCHAR},
      time23 = #{time23,jdbcType=VARCHAR},
      time24 = #{time24,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQueryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_therapist_treatment_time_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
   <!--批量添加-->
    <insert id="insertBatch" parameterType="com.gasq.bdp.logn.model.TTherapistTreatmentTimeQuery"  useGeneratedKeys="true">
        insert into t_therapist_treatment_time_query 
        (id, companyid, cycle, 
	      username, time1, time2, 
	      time3, time4, time5, 
	      time6, time7, time8, 
	      time9, time10, time11, 
	      time12, time13, time14, 
	      time15, time16, time17, 
	      time18, time19, time20, 
	      time21, time22, time23, 
	      time24, remark, create_user, 
	      create_time, update_user, update_time
	    )
        values
        <foreach collection="list" item="params" index="index" separator=",">
           (
           	  #{params.id,jdbcType=INTEGER}, #{params.companyid,jdbcType=INTEGER}, #{params.cycle,jdbcType=VARCHAR}, 
		      #{params.username,jdbcType=VARCHAR}, #{params.time1,jdbcType=VARCHAR}, #{params.time2,jdbcType=VARCHAR}, 
		      #{params.time3,jdbcType=VARCHAR}, #{params.time4,jdbcType=VARCHAR}, #{params.time5,jdbcType=VARCHAR}, 
		      #{params.time6,jdbcType=VARCHAR}, #{params.time7,jdbcType=VARCHAR}, #{params.time8,jdbcType=VARCHAR}, 
		      #{params.time9,jdbcType=VARCHAR}, #{params.time10,jdbcType=VARCHAR}, #{params.time11,jdbcType=VARCHAR}, 
		      #{params.time12,jdbcType=VARCHAR}, #{params.time13,jdbcType=VARCHAR}, #{params.time14,jdbcType=VARCHAR}, 
		      #{params.time15,jdbcType=VARCHAR}, #{params.time16,jdbcType=VARCHAR}, #{params.time17,jdbcType=VARCHAR}, 
		      #{params.time18,jdbcType=VARCHAR}, #{params.time19,jdbcType=VARCHAR}, #{params.time20,jdbcType=VARCHAR}, 
		      #{params.time21,jdbcType=VARCHAR}, #{params.time22,jdbcType=VARCHAR}, #{params.time23,jdbcType=VARCHAR}, 
		      #{params.time24,jdbcType=VARCHAR}, #{params.remark,jdbcType=VARCHAR}, #{params.createUser,jdbcType=VARCHAR}, 
		      #{params.createTime,jdbcType=TIMESTAMP}, #{params.updateUser,jdbcType=VARCHAR}, #{params.updateTime,jdbcType=TIMESTAMP}
		    )
        </foreach>
  </insert>
  <select id="queryPagingList" parameterType="java.util.HashMap" resultType="java.util.LinkedHashMap">
	SELECT a.id,tc.`name` as companyName,a.username,a.cycle as day,twm.days
	,CONCAT(vtt1.text,'-初诊人数：',sum(if(create_user is null and time1 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time1 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time1 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name1
	,CONCAT(vtt2.text,'-初诊人数：',sum(if(create_user is null and time2 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time2 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time2 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name2
	,CONCAT(vtt3.text,'-初诊人数：',sum(if(create_user is null and time3 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time3 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time3 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name3
	,CONCAT(vtt4.text,'-初诊人数：',sum(if(create_user is null and time4 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time4 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time4 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name4
	,CONCAT(vtt5.text,'-初诊人数：',sum(if(create_user is null and time5 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time5 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time5 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name5
	,CONCAT(vtt6.text,'-初诊人数：',sum(if(create_user is null and time6 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time6 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time6 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name6
	,CONCAT(vtt7.text,'-初诊人数：',sum(if(create_user is null and time7 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time7 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time7 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name7
	,CONCAT(vtt8.text,'-初诊人数：',sum(if(create_user is null and time8 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time8 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time8 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name8
	,CONCAT(vtt9.text,'-初诊人数：',sum(if(create_user is null and time9 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time9 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time9 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name9
	,CONCAT(vtt10.text,'-初诊人数：',sum(if(create_user is null and time10 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time10 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time10 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name10
	,CONCAT(vtt11.text,'-初诊人数：',sum(if(create_user is null and time11 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time11 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time11 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name11
	,CONCAT(vtt12.text,'-初诊人数：',sum(if(create_user is null and time12 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time12 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time12 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name12
	,CONCAT(vtt13.text,'-初诊人数：',sum(if(create_user is null and time13 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time13 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time13 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name13
	,CONCAT(vtt14.text,'-初诊人数：',sum(if(create_user is null and time14 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time14 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time14 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name14
	,CONCAT(vtt15.text,'-初诊人数：',sum(if(create_user is null and time15 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time15 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time15 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name15
	,CONCAT(vtt16.text,'-初诊人数：',sum(if(create_user is null and time16 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time16 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time16 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name16
	,CONCAT(vtt17.text,'-初诊人数：',sum(if(create_user is null and time17 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time17 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time17 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name17
	,CONCAT(vtt18.text,'-初诊人数：',sum(if(create_user is null and time18 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time18 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time18 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name18
	,CONCAT(vtt19.text,'-初诊人数：',sum(if(create_user is null and time19 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time19 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time19 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name19
	,CONCAT(vtt20.text,'-初诊人数：',sum(if(create_user is null and time20 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time20 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time20 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name20
	,CONCAT(vtt21.text,'-初诊人数：',sum(if(create_user is null and time21 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time21 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time21 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name21
	,CONCAT(vtt22.text,'-初诊人数：',sum(if(create_user is null and time22 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time22 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time22 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name22
	,CONCAT(vtt23.text,'-初诊人数：',sum(if(create_user is null and time23 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time23 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time23 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name23
	,CONCAT(vtt24.text,'-初诊人数：',sum(if(create_user is null and time24 is not null, 1, 0)),'人-复诊人数：',sum(if(create_user is not null and time24 is not null, 1, 0)),'人-预约项目：',(SELECT GROUP_CONCAT(tp.project_name)project_name FROM t_therapist_treatment_time_info ttti LEFT JOIN t_sys_user tsu1 ON ttti.user_id = tsu1.id LEFT JOIN t_customer_consumpton_amount tcca on ttti.order_id = tcca.customer_id LEFT JOIN t_project tp on tcca.project_id = tp.id AND ttti.companyid = tsu1.companyid where 1=1 and ttti.day = a.cycle and ttti.treatment_time = a.time24 and tsu1.nickname = a.username	and ttti.companyid=a.companyid	GROUP BY ttti.companyid,ttti.user_id,ttti.treatment_time)) as time1Name24
	 FROM `t_therapist_treatment_time_query` a 
	LEFT JOIN v_treatment_time vtt1 on vtt1.`value` = a.time1
	LEFT JOIN v_treatment_time vtt2 on vtt2.`value` = a.time2
	LEFT JOIN v_treatment_time vtt3 on vtt3.`value` = a.time3
	LEFT JOIN v_treatment_time vtt4 on vtt4.`value` = a.time4
	LEFT JOIN v_treatment_time vtt5 on vtt5.`value` = a.time5
	LEFT JOIN v_treatment_time vtt6 on vtt6.`value` = a.time6
	LEFT JOIN v_treatment_time vtt7 on vtt7.`value` = a.time7
	LEFT JOIN v_treatment_time vtt8 on vtt8.`value` = a.time8
	LEFT JOIN v_treatment_time vtt9 on vtt9.`value` = a.time9
	LEFT JOIN v_treatment_time vtt10 on vtt10.`value` = a.time10
	LEFT JOIN v_treatment_time vtt11 on vtt11.`value` = a.time11
	LEFT JOIN v_treatment_time vtt12 on vtt12.`value` = a.time12
	LEFT JOIN v_treatment_time vtt13 on vtt13.`value` = a.time13
	LEFT JOIN v_treatment_time vtt14 on vtt14.`value` = a.time14
	LEFT JOIN v_treatment_time vtt15 on vtt15.`value` = a.time15
	LEFT JOIN v_treatment_time vtt16 on vtt16.`value` = a.time16
	LEFT JOIN v_treatment_time vtt17 on vtt17.`value` = a.time17
	LEFT JOIN v_treatment_time vtt18 on vtt18.`value` = a.time18
	LEFT JOIN v_treatment_time vtt19 on vtt19.`value` = a.time19
	LEFT JOIN v_treatment_time vtt20 on vtt20.`value` = a.time20
	LEFT JOIN v_treatment_time vtt21 on vtt21.`value` = a.time21
	LEFT JOIN v_treatment_time vtt22 on vtt22.`value` = a.time22
	LEFT JOIN v_treatment_time vtt23 on vtt23.`value` = a.time23
	LEFT JOIN v_treatment_time vtt24 on vtt24.`value` = a.time24
	LEFT JOIN t_company tc on a.companyid = tc.id and tc.`status`=1
	LEFT JOIN v_cosmetologist vct on a.username = vct.nickname and vct.companyid = a.companyid
	LEFT JOIN (
	SELECT 
		temp1.*,
		CASE temp1.`day`
		when 1 then b.day1 
		when 2 then b.day2
		when 3 then b.day3
		when 4 then b.day4
		when 5 then b.day5
		when 6 then b.day6
		when 7 then b.day7
		when 8 then b.day8
		when 9 then b.day9
		when 10 then b.day10
		when 11 then b.day11
		when 12 then b.day12
		when 13 then b.day13
		when 14 then b.day14
		when 15 then b.day15
		when 16 then b.day16
		when 17 then b.day17
		when 18 then b.day18
		when 19 then b.day19
		when 20 then b.day20
		when 21 then b.day21
		when 22 then b.day22
		when 23 then b.day23
		when 24 then b.day24
		when 25 then b.day25
		when 26 then b.day26
		when 27 then b.day27
		when 28 then b.day28
		when 29 then b.day29
		when 30 then b.day30
		when 31 then b.day31
		end days
		 from(
		SELECT
			a.companyid,a.cycle,a.username,DATE_FORMAT(a.cycle,'%d') as day
		FROM
			`t_therapist_treatment_time_query` a
		where 1=1
		<if test="cycle !=null and cycle!=''">
			and a.cycle = #{cycle}
		</if>
		<if test="companyid!=null">
			and a.companyid=#{companyid}
		</if>
		)temp1 
		LEFT JOIN t_workforceManagement b ON temp1.companyid = b.companyid
		AND DATE_FORMAT(temp1.cycle, '%Y%m') = b.cycle
		AND temp1.username = b.username
	)twm on a.companyid = twm.companyid and a.cycle=twm.cycle and a.username=twm.username
	where 1=1
	<if test="cycle !=null and cycle!=''">
		and a.cycle = #{cycle}
	</if>
	<if test="companyid!=null">
		and a.companyid=#{companyid}
	</if>
	GROUP BY a.companyid,a.cycle,a.username,a.id,twm.days,vtt1.text,vtt2.text,vtt3.text,vtt4.text,vtt5.text,vtt6.text,vtt7.text,vtt8.text,vtt9.text,vtt10.text,vtt11.text,vtt12.text,vtt13.text,vtt14.text,vtt15.text,vtt16.text,vtt17.text,vtt18.text,vtt19.text,vtt20.text,vtt21.text,vtt22.text,vtt23.text,vtt24.text,vct.sort
	ORDER BY vct.sort
</select>

<select id="selectTTQCycleMax" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT max(cycle) maxcycle FROM `t_therapist_treatment_time_query` a
	INNER JOIN t_company tc on a.companyid=tc.id
	where a.companyid=#{companyid}
</select>
</mapper>