<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/shell.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="company_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="company.query()">查询</a> 
			<a shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="company.add()">添加</a> 
			<a shiro:hasAnyRoles="sadmin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="company.remove()">删除</a>
		</div>
		<div id="cron_bar">
			<form id="companyform">
				公司名称: <input id="queryname" name="companyname" class="easyui-textbox" style="width: 120px; height: 22px;"/>
			</form>
		</div>
	</div>
</div>
	<div id="companydlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: hidden;" closed="true" buttons="#company_dlg-buttons">
		<form id="companydlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">公司名称：</td>
	    			<td class="tdnamebox">
	    				<input id="name" name="name" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">产品编号：</td>
	    			<td class="tdnamebox">
	    				<input id="code" name="code" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">状态：</td>
	    			<td class="tdnamebox">
	    				<input name="status" id="status" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:0,text:'关闭'},{value:1,text:'正常'}]"/>
	    			</td>
	    			<td class="tdname">省份：</td>
	    			<td class="tdnamebox">
	    				<input id="provinceId" name="provinceId" class="easyui-combobox" style="width: 100%;" data-options="required:false,editable:false,valueField:'id',textField:'name'"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">城市：</td>
	    			<td class="tdnamebox">
	    				<input id="cityId1" name="cityId" class="easyui-combobox" style="width: 100%;" data-options="required:false,editable:false,valueField:'id',textField:'name'"/>
	    			</td>
	    			<td class="tdname">区域：</td>
	    			<td class="tdnamebox">
	    				<input id="countyId" name="countyId" class="easyui-combobox" style="width: 100%;" data-options="required:false,editable:false,valueField:'id',textField:'name'"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">详细地址：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="address" name="address" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:true,required:false" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="company_dlg-buttons">
		<a  shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="company.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#companydlg-fm').form('clear');$('#companydlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	<div id="modifycompanydlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: hidden;" closed="true" buttons="#modifycompany_dlg-buttons">
		<form id="modifycompanydlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">产品名称：</td>
	    			<td class="tdnamebox">
	    				<input id="name" name="name" class="easyui-textbox" style="width: 100%;" data-options="required:false,readonly:true"/>
	    			</td>
	    			<td class="tdname">产品编号：</td>
	    			<td class="tdnamebox">
	    				<input id="code" name="code" class="easyui-textbox" style="width: 100%;" data-options="required:false,readonly:true"/>
	    			</td>
	    		</tr>
	    		<tr id="iuinfo">
	    			<td class="tdname">产品数量：</td>
	    			<td class="tdnamebox"><input name="company" id="newcompany" class="easyui-numberbox" style="width: 100%;" data-options="required:true,min:0,precision:2,prompt:'填写数字可以为小数 eg:0.85'"/></td>
	    			<td class="tdname">规格（单位）：</td>
	    			<td class="tdnamebox">
	    				<input id="units" name="units" class="easyui-textbox" style="width: 100%;" data-options="required:false,prompt:'对应的产品单位 （片、盒）',readonly:true"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="modifycompany_dlg-buttons">
		<a id="doappend" shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="company.doAppend()" style="width: 90px">确认入库</a> 
		<a id="dodelivery" shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="company.doDelivery()" style="width: 90px">确认出库</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#modifycompanydlg-fm').form('clear');$('#modifycompanydlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/index/company.js}"></script>
</html>