<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%; ">
	<table id="cron_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a shiro:hasPermission="user:create" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="schedule.cronAdd()">添加</a> 
			<a shiro:hasPermission="user:update" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="schedule.cronedit()">编辑</a>
			<a shiro:hasPermission="user:delete" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="schedule.cronRemove()">删除</a>
			<a shiro:hasPermission="user:execute" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="schedule.manualExecute()">手动执行</a> 
		</div>
		<div id="cron_bar">
			定时模式: <input id="crons" class="easyui-text" style="width: 120px; height: 22px;"/>
			定时名称: <input id="names" class="easyui-text" style="width: 120px; height: 22px;"/>
			定时分组: <input id="groups" class="easyui-text" style="width: 120px; height: 22px;"/> 
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="schedule.cron_search()">查询</a>
		</div>
	</div>
	<div id="crondlg" class="easyui-dialog" style="width: 400px; overflow: hidden;" closed="true" buttons="#cron_add_dlg-buttons">
		<form id="crondlg-fm" th:method="post" style="margin: 0; padding: 20px 50px">
			<div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">定时器配置信息</div>
			<div style="margin-bottom: 10px">
				定时模式：<input id="cron1" name="cron" class="easyui-textbox" required="true" label="" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 10px">
				定时名称：<input id="name" name="name" class="easyui-textbox" required="true" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 10px">
				定时分组：<input id="groupname" name="groupname" class="easyui-textbox" required="true" label="" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 10px">
				是否开启：<input name="status" id="status" class="easyui-combobox" label="" style="width: 75%;" data-options="valueField:'value',textField:'text',data:[{value:0,text:'关闭'},{value:1,text:'开启'}]"/>
			</div>
			<div style="margin-bottom: 10px">
				依赖节点：<input name="dependentId" id="dependentId" class="easyui-combobox" label="" style="width: 75%;" data-options="valueField:'value',textField:'text'"/>
			</div>
			<div style="margin-bottom: 0px">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;描述：<input id="remark" name="remark" data-options="multiline:true" class="easyui-textbox" label="" style="width: 75%; height: 150px"/>
			</div>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="cron_add_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="schedule.saveCronOrUpdate()" style="width: 90px">完成</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#crondlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	<div id="jobadddlg" class="easyui-dialog" style="width: 400px;min-height:50px;overflow: auto;" closed="true" buttons="#job_add_dlg-buttons">
			<div class="easyui-panel" style="padding: 5px">
				<ul id="chooseworkflow" class="easyui-tree" data-options=""></ul>
			</div>
	</div>
	<div id="job_add_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="schedule.saveWorkflow()" style="width: 90px">完成</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#jobadddlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	<div id="workflowdlg" class="easyui-dialog" style="width: 400px; overflow: hidden;" closed="true" buttons="#job_update_dlg-buttons">
		<form id="workflowdlg-fm" th:method="post" style="margin: 0; padding: 20px 50px">
			<div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">定时工作流信息</div>
			<div style="margin-bottom: 10px">
				所属定时器：<input id="schedulename" name="schedulename" class="easyui-textbox" disabled="true" label="" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 10px">
				工作流名称：<input id="name" name="name" class="easyui-textbox" required="true" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 10px">
				是否开启：<input name="status" id="status" class="easyui-combobox" label="" style="width: 75%;" data-options="valueField:'value',textField:'text',data:[{value:0,text:'关闭'},{value:1,text:'开启'}]"/>
			</div>
			<div style="margin-bottom: 10px">
				忽略错误：<input name="ignoreerror" id="ignoreerror" class="easyui-combobox" label="" style="width: 75%;" data-options="valueField:'value',textField:'text',data:[{value:0,text:'忽略'},{value:1,text:'不忽略'}]"/>
			</div>
			<div style="margin-bottom: 10px">
				是否循环：<input name="replay" id="replay" class="easyui-combobox" label="" style="width: 75%;" data-options="valueField:'value',textField:'text',data:[{value:0,text:'不循环'},{value:1,text:'循环'}]"/>
			</div>
			<div style="margin-bottom: 10px">
				循环次数：<input id="replaysize" name="replaysize" class="easyui-textbox" required="true" style="width: 75%;"/>
			</div>
			<div style="margin-bottom: 0px"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;描述：<input id="remark" name="remark" data-options="multiline:true" class="easyui-textbox" label="" style="width: 75%; height: 150px"/>
			</div>
			<input id="schedule_id" name="scheduleId" value="" type="hidden" />
			<input id="workflowId" name="workflowId" value="" type="hidden" />
		</form>
	</div>
	<div id="job_update_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="schedule.updateWorkflow()" style="width: 90px">更新</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#workflowdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	<div id="wfdd" class="easyui-dialog" title="定时器正在执行，请稍后......">
		<div id="wfddcontext" style="width: 100%;text-align:center;height:60px; line-height:60px;overflow:hidden; "></div>
	</div>
	<div id="logsdlg" class="easyui-dialog"  data-options="modal:true" style="width: 70%;height:60%; overflow: hidden;" closed="true">
		<table id="logs_table" class="easyui-datagrid" style="width: 90%; height: 90%;"
			data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:20">
		</table>
	</div>
	<div id="wfinfodlg" class="easyui-dialog"  data-options="modal:true" style="width: 85%;height:80%;overflow: hidden;" closed="true">
		<div class="panel panel-default" style="width: 100%;height: 100%;">
		    <div id="wfinfoimage" class="panel-body">
		    </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
	<script type="text/javascript" th:src="@{/static/websocket/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/map.js}"></script>
<script type="text/javascript" th:src="@{/static/js/schedule/schedule.js}"></script>
</html>