<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/ccac.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="customerSubscribe_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="customerSubscribe.query()">查询</a> 
			<a shiro:hasAnyRoles="sadmin,h_option,h_admin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="customerSubscribe.add()">添加</a>
			<a shiro:hasAnyRoles="sadmin,generalManager,q_receptionist,q_admin,q_area_shopManager" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="customerSubscribe.reception()">接诊</a>  
			<a shiro:hasAnyRoles="sadmin,h_admin,h_option" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="customerSubscribe.remove()">关闭</a>
		</div>
		<div id="cron_bar">
			<form id="customerSubscribeform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 120px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				客户名称: <input id="queryname" name="customerName" class="easyui-textbox" style="width: 120px; height: 22px;"/>
				创建时间: <input id="querycreateTime" name="createTime" class="easyui-datebox" style="width: 120px; height: 22px;"/> 
			</form>
		</div>
	</div>
</div>
	<div id="customerSubscribedlg" class="easyui-dialog"  data-options="modal:true" style="width: 50%; overflow: hidden;" closed="true" buttons="#customerSubscribe_dlg-buttons">
		<form id="customerSubscribedlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">客户名称：</td>
	    			<td class="tdnamebox">
	    				<input id="customerName" name="customerName" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">客户手机：</td>
	    			<td class="tdnamebox">
	    				<input name="customerPhone" id="customerPhone" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="sadmin,h_admin,h_option">
	    			<td class="tdname">性别：</td>
	    			<td class="tdnamebox">
	    				<input id="sex" name="sex" class="easyui-combobox sex" style="width: 100%;" data-options="required:true,valueField:'value',textField:'text'"/>
	    			</td>
	    			<td class="tdname">来源：</td>
	    			<td class="tdnamebox">
	    				<input id="rootIn" name="rootIn" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'name'"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="q_admin,q_option">
	    			<td class="tdname">性别：</td>
	    			<td class="tdnamebox">
	    				<input id="sex" name="sex"  hidden="true"/>
	    				<input id="sexName" name="sexName" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    			<td class="tdname">来源：</td>
	    			<td class="tdnamebox">
	    				<input name="rootIn" hidden="true"/>
	    				<input id="rootInName" name="rootInName" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="h_admin,h_option">
	    			<td class="tdname">预约项目：</td>
	    			<td class="tdnamebox">
	    				<input id="project" name="project" class="easyui-textbox" style="width: 100%;" data-options=""/>
	    			</td>
	    			<td class="tdname">约诊时间：</td>
	    			<td class="tdnamebox">
	    				<input id="subscribeDate" name="subscribeDate" class="easyui-datebox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="sadmin,generalManager,q_receptionist,q_admin,q_area_shopManager">
	    			<td class="tdname">预约项目：</td>
	    			<td class="tdnamebox">
	    				<input id="project" name="project" class="easyui-textbox" style="width: 100%;" data-options=""/>
	    			</td>
	    			<td class="tdname">预约时间：</td>
	    			<td class="tdnamebox">
	    				<input name="subscribeDate" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="h_admin,h_option">
	    			<td class="tdname" colspan="1">公司：</td>
	    			<td class="tdnamebox">
	    				<input id="companyId" name="companyId" class="easyui-combobox companylist" style="width: 100%;" data-options="required:true,editable:false,valueField:'companyid',textField:'companyName'"/>
	    			</td>
	    			<td class="tdname">预约状态：</td>
	    			<td class="tdnamebox">
	    				<input id="status" name="statusName" class="easyui-textbox" style="width: 100%;" data-options="editable:false"/>
	    			</td>
	    		</tr>
	    		<tr shiro:hasAnyRoles="sadmin,generalManager,q_receptionist,q_admin,q_area_shopManager">
	    			<td class="tdname" colspan="1">公司：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="companyId" name="companyId" style="width: 100%;" hidden="true"/>
	    				<input id="companyName" name="companyName" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:true,required:false" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    		</tr>
	    	</table>
	    	<input name="status" value="" type="hidden" />
			<input id="csid" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="customerSubscribe_dlg-buttons">
		<a shiro:hasAnyRoles="h_option,h_admin,sadmin" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="customerSubscribe.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#customerSubscribedlg-fm').form('clear');$('#customerSubscribedlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	
	<div id="ccacdlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: hidden;" closed="true" buttons="#ccac_dlg-buttons">
		<form id="ccacdlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">客户名称：</td>
	    			<td class="tdnamebox">
	    				<input id="customername" name="customername" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">电话号码：</td>
	    			<td class="tdnamebox"><input name="phonenumb" id="phonenumb" class="easyui-numberbox" style="width: 100%;" data-options="required:true"/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">性别：</td>
	    			<td class="tdnamebox">
	    				<input id="sex" name="sex" class="easyui-combobox sex" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text'"/>
	    			</td>
	    			<td class="tdname">身份证：</td>
	    			<td class="tdnamebox"><input name="cardId" id="cardId" class="easyui-textbox" style="width: 100%;" data-options=""/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">初复诊：</td>
	    			<td class="tdnamebox">
	    				<input name="chuFuZhen" id="chuFuZhen" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:0,text:'初诊'},{value:1,text:'复诊'}]"/>
	    			</td>
	    			<td class="tdname">咨询师：</td>
	    			<td class="tdnamebox"><input name="counsoler" id="counsoler" class="easyui-combobox counsoler" style="width: 100%" data-options="editable:false,valueField:'id',textField:'nickname'"/></td>
	    		</tr>
	    		<tr>
		    		<td class="tdname">回访时间：</td>
		    			<td class="tdnamebox"><input name="remindtime" id="remindtime" class="easyui-datebox" style="width: 100%;" data-options="required:false"/></td>
		    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:true,required:false" class="easyui-textbox" style="width: 100%;height: 70px"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="ccac_dlg-buttons">
		<a id="basecomplate" shiro:hasAnyRoles="sadmin,q_receptionist,q_admin,q_area_shopManager" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="customerSubscribe.doReception()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#ccacdlg-fm').form('clear');$('#ccacdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/index/customerSubscribe.js}"></script>
</html>