<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/ccac.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="ccac_table" title="总消费金额：" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option',iconCls:'icon-monery'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="ccac.query()">查询</a> 
			<a shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist,q_counselor" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ccac.add()">添加</a> 
			<a id="jiesuanpt" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist,q_counselor" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:true" iconCls="icon-pay" plain="true" onclick="ccac.ptcommit()">普通结算</a>
			<a id="jiesuansk" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist,q_counselor" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false" iconCls="icon-card" plain="true" onclick="ccac.querySwipingCardCommit()">刷卡结算</a>
			<a id="jiesuanhy" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist,q_counselor" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:true" iconCls="icon-vip" plain="true" onclick="ccac.hycommit()">会员结算</a>
			<a id="jiesuanfx" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist,q_counselor" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:true" iconCls="icon-fenxiao" plain="true" onclick="ccac.fxcommit()">分销结算</a>
<!-- 			<a id="print" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_option,q_receptionist" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="ccac.printData()">打印</a> -->
			<a id="orderback" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-return" data-options="disabled:true" plain="true" onclick="ccac.orderBack()">订单回退</a>
			<a id="export" shiro:hasPermission="user:execute" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-large-smartart" plain="true" onclick="ccac.exportData()">导出</a>
			<a shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ccac.remove()">关闭</a>
			<a shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="ccac.refund()">退款</a>
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-clear" plain="true" onclick="ccac.clear()">清空</a>
		</div>
		<div id="cron_bar">
			<form id="ccacform" class="pc-ccacform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 100px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				客户名称：<input id="queryname" name="customername" class="easyui-textbox" style="width: 100px; height: 22px;"/>
				客户电话：<input id="queryphone" name="cphone" class="easyui-textbox" style="width: 100px; height: 22px;"/>
				治疗师：<input name="therapeutist" id="userid" class="easyui-combobox therapeutist" style="width: 100px; height: 22px;" data-options="editable:false,valueField:'id',textField:'nickname'"/>
				状态：<select id="querystatus" name="status" class="easyui-combobox" style="width: 100px; height: 22px;">
							<option value="-1" selected="selected">全部</option>
							<option value="0">未结算</option>
							<option value="1">已结算</option>
							<option shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_area_shopManager,generalManager" value="98">退款</option>
							<option shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_area_shopManager,generalManager" value="99">已关闭</option>
						 </select>
				初复诊：<select id="queryChuFuZhen" name="chuFuZhen" class="easyui-combobox" style="width: 100px; height: 22px;">
							<option value="-1">请选择</option>
							<option value="0">初诊</option>
							<option value="1">复诊</option>
						 </select>
				来源：<input id="queryrootIn" name="rootIn" class="easyui-combobox rootIn" style="width: 100px; height: 22px;" data-options="editable:false,valueField:'value',textField:'name'"/>
				治疗时间：起始 <input id="querycreateTime" name="createTime" class="easyui-datebox" style="width: 100px; height: 22px;" data-options="editable:false"/>
				截止<input id="queryendTime" name="endtime" class="easyui-datebox" style="width: 100px; height: 22px;" data-options="editable:false"/>
			</form>
			<form id="ccacform" class="mb-ccacform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 90px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				名称：<input id="queryname" name="customername" class="easyui-textbox" style="width: 90px; height: 22px;"/>
				时间： <input id="querycreateTime" name="createTime" class="easyui-datebox" style="width: 90px; height: 22px;"/>
			</form>
		</div>
	</div>
</div>
	<div id="ccacdlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: auto;" closed="true" buttons="#ccac_dlg-buttons">
		<form id="ccacdlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">客户名称：</td>
	    			<td class="tdnamebox">
	    				<input id="customername" name="customername" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">电话号码：</td>
	    			<td class="tdnamebox"><input name="phonenumb" id="phonenumb" class="easyui-numberbox" style="width: 100%;" data-options="required:true"/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">性别：</td>
	    			<td class="tdnamebox">
	    				<input id="sex" name="sex" class="easyui-combobox sex" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text'"/>
	    			</td>
	    			<td class="tdname">邮箱：</td>
	    			<td class="tdnamebox"><input name="cardId" id="cardId" class="easyui-textbox" style="width: 100%;" data-options=""/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">初复诊：</td>
	    			<td class="tdnamebox">
	    				<input name="chuFuZhen" id="chuFuZhen" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text'"/>
	    			</td>
	    			<td class="tdname">来源：</td>
	    			<td class="tdnamebox">
	    				<input id="rootIn" name="rootIn" class="easyui-combobox rootIn" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'name'"/>
	    			</td>
	    		</tr>
	    		<tr>
		    		<td class="tdname">咨询师：</td>
	    			<td class="tdnamebox">
	    				<input name="counsoler" id="counsoler" class="easyui-combobox counsoler" style="width: 100%" data-options="required:true,editable:false,valueField:'id',textField:'username'"/>
	    			</td>
		    		<td class="tdname">回访时间：</td>
		    		<td class="tdnamebox"><input name="remindtime" id="remindtime" class="easyui-datebox" style="width: 100%;" data-options="required:false"/></td>
	    		</tr>
	    		
	    		<tr>
	    			<td class="tdname">治疗师：</td>
	    			<td class="tdnamebox"><input name="therapeutist" id="therapeutist" class="easyui-combobox therapeutist" style="width: 100%" data-options="required:true,editable:false,valueField:'id',textField:'username'"/></td>
	    			<td class="tdname">治疗日期：</td>
	    			<td class="tdnamebox"><input name="cureTime" id="cureTime" class="easyui-datebox" style="width: 100%" data-options="required:true,editable:false"/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">治疗时间：</td>
	    			<td class="tdnamebox"><input name="treatmentTime" id="treatmentTime" class="easyui-combobox treatmentTime" style="width: 100%" data-options="required:true,editable:false,valueField:'value',textField:'text'"/></td>
	    			<td class="tdname">客户职业：</td>
	    			<td class="tdnamebox"><input name="profession" id="profession" class="easyui-combobox profession" style="width: 100%" data-options="editable:false,valueField:'value',textField:'text'"/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:true,required:false" class="easyui-textbox" style="width: 100%;height: 70px"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
			<input id="status" name="status" value="0" type="hidden" />
		</form>
	</div>
	<div id="ccac_dlg-buttons">
		<a id="basecomplate" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_counselor,q_option,q_receptionist" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ccac.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#ccacdlg-fm').form('clear');$('#ccacdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	<div id="ccacdetaildlg" class="easyui-dialog"  data-options="modal:true" style="width: 55%; height:80%;overflow: hidden;" closed="true" buttons="#ccacdetail_dlg-buttons">
		<div data-options="region:'north'" style="height: auto;">
			<form id="ccacdetaildlg-fm" th:method="post" style="margin: 0; padding: 1%;">
				<table cellpadding="5" style="width: 100%">
		    		<tr>
		    			<td class="tdname">产品套餐：</td>
		    			<td class="tdnamebox"><input name="projectId" id="projectId" class="easyui-combobox projectId" style="width: 100%" data-options=""/></td>
		    			<td class="tdname">产品金额：</td>
		    			<td class="tdnamebox">
		    				<input id="projectAmount" name="projectAmount" class="easyui-numberbox" style="width: 100%;" data-options="required:true,min:0,precision:2,editable:false"/>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td class="tdname">折扣：</td>
		    			<td class="tdnamebox"><input name="discount" id="discount" class="easyui-numberbox" style="width: 100%;" data-options="required:true,editable:false"/></td>
		    			<td class="tdname">欠款金额：</td>
		    			<td class="tdnamebox"><input name="arrears" id="arrears" class="easyui-numberbox" style="width: 100%;" data-options="min:0,precision:2"/></td>
		    		</tr>
		    		<tr>
		    			<td class="tdname">套餐次数：</td>
		    			<td class="tdnamebox"><input name="projectNums" id="projectNums" class="easyui-numberbox" style="width: 100%;" data-options="min:0"/></td>
		    			<td class="tdname">套餐时长(月)：</td>
		    			<td class="tdnamebox"><input name="deadline" id="deadline" class="easyui-numberbox" style="width: 100%;" data-options="min:0"/></td>
		    		</tr>
		    		<tr>
		    			<td class="tdname">还款金额：</td>
		    			<td class="tdnamebox"><input name="repayment" id="repayment" class="easyui-numberbox" style="width: 100%;" data-options="min:0,precision:2"/></td>
		    			<td class="tdname">网络/移动支付：</td>
		    			<td class="tdnamebox"><input name="movePayment" id="movePayment" class="easyui-numberbox" style="width: 100%;" data-options="min:0,precision:2"/></td>
		    		</tr>
		    		<tr>
		    			<td class="tdname">现金收入：</td>
		    			<td class="tdnamebox"><input name="cashIncome" id="cashIncome" class="easyui-numberbox" style="width: 100%;" data-options="min:0,precision:2"/></td>
		    			<td class="tdname">刷卡收入：</td>
		    			<td class="tdnamebox"><input name="creditCashIncome" id="creditCashIncome" class="easyui-numberbox" style="width: 100%;" data-options="min:0,precision:2"/></td>
		    		</tr>
		    		<tr>
		    			<td class="tdname" colspan="1">描述：</td>
		    			<td class="tdnamebox" colspan="3">
		    				<input id="remark" name="remark" data-options="multiline:true,required:false" class="easyui-textbox" style="width: 100%;height: 70px"/>
		    			</td>
		    		</tr>
		    	</table>
				<input id="ccacdid" name="id" value="" type="hidden" />
				<input id="customerId" name="customerId" value="" type="hidden" />
			</form>
		</div>
		<div id="consumpton_project_list" data-options="region:'south'" style="">
	    	<table id="project_dg" class="easyui-datagrid" style="width: 100%;padding: 1%;"
				data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:5,toolbar:'#project_tb'" pagination="true">
			</table>
    	</div>
	</div>
	<div id="ccacdetail_dlg-buttons">
		<a id="baseproductcomplate" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_counselor" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ccac.amountcomplate()" style="width: 90px">确认</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#ccacdetaildlg-fm').form('clear');$('#ccacdetaildlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	<div id="project_tb" style="height:auto">
		<a id="project_tb_a" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="ccac.addProjectList()">添加</a>
		<a id="project_tb_d" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="ccac.removeaProjectList()">删除</a>
	</div>
	
	<div id="projectListdlg" class="easyui-dialog"  data-options="modal:true" style="width: 55%; overflow: hidden;" closed="true" buttons="#projectList_dlg-buttons">
		<form id="projectListdlg-fm" th:method="post" style="margin: 0; padding: 1%;">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">产品：</td>
	    			<td class="tdnamebox"><input name="projectId" id="inventoryId" class="easyui-combobox" style="width: 100%" data-options="valueField:'id',textField:'name'"/></td>
	    			<td class="tdname">数量：</td>
	    			<td class="tdnamebox">
	    				<input id="numbs" name="numbs" class="easyui-numberbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="plid" name="id" value="" type="hidden" />
			<input id="consumptonAmountId" name="consumptonAmountId" value="" type="hidden" />
		</form>
	</div>
	<div id="projectList_dlg-buttons">
		<a id="projectListcomplate" shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_counselor" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ccac.projectListcomplate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#projectListdlg').form('clear');$('#projectListdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	<div id="projectsdlg" class="easyui-dialog"  data-options="modal:true" style="width: 85%; overflow: hidden;height: 70%;" closed="true" buttons="#projectsdlg-buttons">
		<div id="reprotContent" class="easyui-layout" style="width: 100%;height: 100%;" data-options="fit:true">
			<div data-options="region:'north'" style="height:50%;width: 100%;">
				<table id="projects_dg" class="easyui-datagrid" style="width: 100%;height: 100%;"
					data-options="singleSelect: true,rownumbers:true,fit:true,toolbar:'#projects_bar'" pagination="true">
				</table>
				<div id="projects_bar">
					客户手机：<input id="querycphone" name="customerphone" class="easyui-textbox" style="width: 120px; height: 22px;"/>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="ccac.querySwipingCardProjects()">查询</a> 
				</div>
			</div>
			<div data-options="region:'south'" style="height:50%;width: 100%;">
				<table id="projectlogs_dg" class="easyui-datagrid" title="刷新消费记录" style="width: 100%;height: 100%;"
					data-options="singleSelect: true,rownumbers:true,fit:true" pagination="true">
				</table>
			</div>
		</div>
		<div id="projectsdlg-buttons">
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#querycphone').textbox('setValue','');$('#projectsdlg').dialog('close')" style="width: 90px">关闭</a>
		</div>
	</div>
	<div id="uploaddlg" class="easyui-dialog"  data-options="modal:true" style="width: 55%; overflow: hidden;" closed="true" buttons="#uploaddlg-buttons">
		<form id="uploadform" method="POST" enctype="multipart/form-data"  style="margin: 0; padding: 1%;margin-top: 2%;"> 
	        <table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname" style="width: 8%;">名称：</td>
	    			<td class="tdnamebox">
	    				<input id="img_title" name="title" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname"  style="width: 10%;">选择图片：</td>
	    			<td class="tdnamebox"><input name="editormd-image-file" id="img_file" class="easyui-filebox" style="width: 100%" data-options="buttonText:'选择',required:true,prompt:'选择上传图片...'"/></td>
	    		</tr>
	    	</table>
	    	<input id="img_orderId" type="hidden" name="orderId" /><br/>
	    	<input id="img_customerPhone" type="hidden" name="customerPhone" /><br/>
	    </form>
    </div>
    <div id="uploaddlg-buttons">
    	<a shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_counselor" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ccac.doupload()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#uploadform').form('clear');$('#uploaddlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	<div id="viewimagesdlg" class="easyui-dialog"  data-options="modal:true" style="width: 608px; overflow: hidden;height: 912px;" closed="true" buttons="#viewimagesdlg-buttons">
		<iframe id="viewimages" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
    </div>
    <div id="viewimagesdlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#viewimagesdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	<div id="zlsdlg" class="easyui-dialog"  data-options="modal:true" style="width: 55%; overflow: hidden;" closed="true" buttons="#zls-buttons">
		<table id="queryZLS" class="easyui-propertygrid" style="width:300px" data-options="
					method:'get',
					showGroup:true,
					scrollbarSize:0">
		</table>
	</div>
	<div id="zls-buttons">
    	<a shiro:hasAnyRoles="sadmin,q_area_shopManager,q_admin,q_counselor" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ccac.doupload()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#zlsdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
<div id="test" style="display: none;">
      <table style="width: 241mm;height: 93mm;margin: auto;border: 1px solid #000;">
          <tr>
              <td>姓名：</td><td><input name="name" value="张三1"/></td>
          </tr>
          <tr>
              <td>年龄：</td><td><input name="age" value="80"/></td>
          </tr>
      </table>
      <table style="width: 241mm;height: 93mm;margin: auto;border: 1px solid #000;">
          <tr>
              <td>姓名：</td><td><input name="name" value="张三2"/></td>
          </tr>
          <tr>
              <td>年龄：</td><td><input name="age" value="80"/></td>
          </tr>
      </table>
      <table style="width: 241mm;height: 93mm;margin: auto;border: 1px solid #000;">
          <tr>
              <td>姓名：</td><td><input name="name" value="张三3"/></td>
          </tr>
          <tr>
              <td>年龄：</td><td><input name="age" value="80"/></td>
          </tr>
      </table>
</div>
</body>
<script type="text/javascript" th:src="@{/static/Jquery/jquery.jqprint-0.3.js}"></script>
<script type="text/javascript" th:src="@{/static/Jquery/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/workflow/customerConsumptonAmountMaintenance.js}"></script>
</html>