<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
<link type="text/css" th:href="@{/static/css/workflow/data.css}" rel="stylesheet" media="screen"/>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<div data-options="region:'west',split:false" style="width:15%;height: 100%;">
 		<ul id="choosedata" class="easyui-tree" data-options=""></ul>
 		<div id="leaf" class="easyui-menu" style="width: 120px;">
		    <div shiro:hasPermission="user:delete" onclick="dataSet.removeNode()" iconcls="icon-remove">删除节点</div>
		    <div shiro:hasPermission="user:update" onclick="dataSet.updateNode()" iconcls="icon-edit">修改节点</div>
		</div>
		<div id="parentNode" class="easyui-menu" style="width: 120px;">
		    <div shiro:hasPermission="user:create" onclick="dataSet.addNode()" iconcls="icon-add">添加节点</div>
		</div>
	</div>
	<div data-options="region:'center'" style="width:85%;">
		<table id="dataColumnstb" class="easyui-datagrid" title="字段属性操作" style="width:100%;height:100%;"
				data-options="singleSelect: true,toolbar:'#dataColumnstbbtn'">
		</table>
		<div id="dataColumnstbbtn" style="padding:5px;height:auto">
			<div style="margin-bottom:5px">
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="dataSet.add()" ></a>
				<a id="removedc" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="dataSet.remove()" data-options="iconCls:'icon-edit',disabled:true"></a>
			</div>
			<div>
				字段名: <input id="name" class="easyui-text" style="width:80px"/>
				说明: <input id="remark" class="easyui-text" style="width:80px"/>
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="dataSet.query()">查询</a>
			</div>
		</div>
	</div>
</div>
	<div id="datacolumnsdlg" class="easyui-dialog" style="width: 45%; overflow: hidden;" data-options="modal:true" closed="true" buttons="#datacolumns_dlg-buttons">
		<form id="datacolumnsdlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">名称：</td>
	    			<td class="tdnamebox">
	    				<input id="code" name="code" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">类型：</td>
	    			<td class="tdnamebox">
	    				<input name="type" id="type" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text'"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">状态：</td>
	    			<td class="tdnamebox">
	    				<input name="status" id="status" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:1,text:'开启'},{value:0,text:'关闭'}]"/>
	    			</td>
	    			<td class="tdname">描述：</td>
	    			<td class="tdnamebox">
	    				<input id="name" name="name" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
			<input id="dataId" name="dataId" value="" type="hidden" />
		</form>
	</div>
	<div id="datacolumns_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="dataSet.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#datacolumnsdlg-fm').form('clear');$('#datacolumnsdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
	
	<div id="datadlg" class="easyui-dialog" style="width: 45%; overflow: hidden;" data-options="modal:true" closed="true" buttons="#data_dlg-buttons">
		<form id="datadlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">名称：</td>
	    			<td class="tdnamebox">
	    				<input id="code" name="code" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">描述：</td>
	    			<td class="tdnamebox">
	    				<input id="name" name="name" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="data_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="dataSet.datacomplate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#datadlg-fm').form('clear');$('#datadlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/workflow/data.js}"></script>
</html>
