<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>  
	<meta charset="UTF-8" />  
	<title>客户消费信息平台</title>
	<link rel="shortcut icon" th:href="@{/static/easyUI/themes/icons/Flower.ico}"/>
	<link type="text/css" th:href="@{/static/css/login/style1.css}" rel="stylesheet" media="screen"/>
	<link type="text/css" th:href="@{/static/css/login/style.css}" rel="stylesheet" media="screen"/>
	<link type="text/css" th:href="@{/static/css/login/fallback.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/js/login/jquery-1.11.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery-cookie/jquery.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/login/selectivizr.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/login/waterpipe.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/login/login.js}"></script>
</head>
<!--             错误信息：<h4 th:text="${msg}"></h4> -->
<!--        <form th:action="@{/login}" th:method="post"> -->
<!--            <p>账号：<input type="text" name="username" value="admin"/></p> -->
<!--            <p>密码：<input type="text" name="password" value="Guoanshequ001"/></p> -->
<!--            <p>验证码：<input type="text" name="randomcode"/> -->
<!--            <img th:src="@{/validatecodeServlet}" height="20px" width="60px" onclick="random(this)"/></p> -->
<!--            <p><input type="submit" value="登录"/></p> -->
<!--        </form> -->
<body>
 <div id="wavybg-wrapper" style="width: 100%; height: 100%;overflow: hidden;"> 
        <canvas>Your browser does not support HTML5 canvas.</canvas>
 </div>
<div id="container" class="logindiv">
    <form id="loginform" th:method="post">
        <div class="login">登陆 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户消费信息平台</div>
        <div class="username-text">用户名:</div>
        <div class="password-text">密&nbsp;&nbsp;码:</div>
        <div class="username-field">
            <input type="text" id="username" name="username" placeholder="输入用户名"  onkeyup="onLoginKeyUp()" />
        </div>
        <div class="password-field">
            <input type="password" id="password" name="password" placeholder="密码是什么" onkeyup="onLoginKeyUp()"/>
        </div>
        <label style="width: 190px;padding-left: 35px;" id="info"></label>
        <div class="forgot-usr-pwd" style="width: 190px;">是否忘记&nbsp;&nbsp;<a href="#">用户名</a> &nbsp;或者 &nbsp;<a href="#">密码</a>&nbsp;?</div>
        <input id="img_login_submit" type="submit" name="submit" value="登陆"  onclick="validate()"/>
    </form>
</div>

</body>
<script th:inline="javascript">
	path=[[${path}]]
	content=[[${content}]]
</script>
</html> 
