<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/shell.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="project_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="project.query()">查询</a> 
			<a shiro:hasAnyRoles="sadmin,generalManager,q_admin,q_area_shopManager" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="project.add()">添加</a> 
			<a shiro:hasAnyRoles="sadmin,generalManager,q_admin,q_area_shopManager" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="project.remove()">删除</a>
		</div>
		<div id="cron_bar">
			<form id="projectform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager,h_option">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 120px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				产品名称: <input id="queryname" name="projectname" class="easyui-text" style="width: 120px; height: 22px;"/>
				脚本状态: <select id="querystatus" name="status" class="easyui-combobox" style="width: 120px; height: 22px;">
							<option value="-1">请选择</option>
							<option value="1">开启</option>
							<option value="0">关闭</option>
						</select>
				创建时间: <input id="querycreateTime" name="createtime" class="easyui-datebox" style="width: 120px; height: 22px;"/> 
			</form>
		</div>
	</div>
</div>
	<div id="projectdlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: hidden;" closed="true" buttons="#project_dlg-buttons">
		<form id="projectdlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">产品名称：</td>
	    			<td class="tdnamebox">
	    				<input id="projectName" name="projectName" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">状态：</td>
	    			<td class="tdnamebox">
	    				<input name="status" id="status" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:1,text:'开启'},{value:0,text:'关闭'}]"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">公司：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="companyId" name="companyId" class="easyui-combobox companylist" style="width: 100%;" data-options="required:true,editable:false,valueField:'companyid',textField:'companyName'"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">产品金额：</td>
	    			<td class="tdnamebox">
	    				<input id="money" name="money" class="easyui-numberbox" style="width: 100%;" data-options="required:true,min:0,precision:2"/>
	    			</td>
	    			<td class="tdname">产品折扣：</td>
	    			<td class="tdnamebox"><input name="discount" id="discount" class="easyui-numberbox" style="width: 100%;" data-options="required:true,min:0,precision:2,max:1,prompt:'最大为1 eg:85折=0.85'"/></td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:false,required:false" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="project_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="project.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#projectdlg-fm').form('clear');$('#projectdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/index/projects.js}"></script>
</html>