<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
<link type="text/css" th:href="@{/static/css/workflow/sqlQuery.css}" rel="stylesheet" media="screen"/>
<script type="text/javascript" th:src="@{/static/easyUI/datagrid-detailview.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="sql_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:20,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="sql.query()">查询</a> 
			<a shiro:hasPermission="user:create" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="sql.add()">添加</a> 
			<a shiro:hasPermission="user:delete" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="sql.remove()">删除</a>
		</div>
		<div id="cron_bar">
			<form id="sqlform">
				脚本名称: <input id="queryname" name="name" class="easyui-text" style="width: 120px; height: 22px;"/>
				脚本状态: <select id="querystatus" name="status" class="easyui-combobox" style="width: 120px; height: 22px;">
							<option value="-1">请选择</option>
							<option value="1">开启</option>
							<option value="0">关闭</option>
						</select>
				结果校验:<select id="queryischeck" name="ischeck" class="easyui-combobox" style="width: 120px; height: 22px;">
							<option value="-1">请选择</option>
							<option value="1">开启</option>
							<option value="0">关闭</option>
						 </select>
				更新时间: <input id="querycreateTime" name="createtime" class="easyui-datebox" style="width: 120px; height: 22px;"/> 
			</form>
		</div>
	</div>
</div>
	<div id="sqldlg" class="easyui-dialog"  data-options="modal:true" style="width: 50%; overflow: hidden;" closed="true" buttons="#sql_dlg-buttons">
		<form id="sqldlg-fm" th:method="post" style="margin: 0; padding: 0.2%">
			<table style="width: 100%">
	    		<tr>
	    			<td class="tdname">名称：</td>
	    			<td class="tdnamebox">
	    				<input id="name" name="name" class="easyui-textbox" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">状态：</td>
	    			<td class="tdnamebox">
	    				<input name="status" id="status" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:1,text:'开启'},{value:0,text:'关闭'}]"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">数据源：</td>
	    			<td class="tdnamebox">
	    				<input name="dbCode" id="dbCode" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text'"/>
	    			</td>
	    			<td class="tdname">是否分页：</td>
	    			<td class="tdnamebox">
	    				<input name="islimit" id="islimit" class="easyui-combobox" style="width: 100%;" data-options="required:true,editable:false,valueField:'value',textField:'text',data:[{value:1,text:'开启'},{value:0,text:'关闭'}]"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">起始页码：</td>
	    			<td class="tdnamebox">
	    				<input id="pagesize" name="pagesize" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    			<td class="tdname">分页页数：</td>
	    			<td class="tdnamebox">
	    				<input name="pagenum" id="pagenum" class="easyui-textbox" style="width: 100%;" data-options="required:false"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">输入对象：</td>
	    			<td class="tdnamebox">
	    				<input id="inputParams" name="inputParams" class="easyui-textbox" style="width: 100%;" data-options="required:false,editable:false,valueField:'id',textField:'name'"/>
	    			</td>
	    			<td class="tdname">输出对象：</td>
	    			<td class="tdnamebox">
	    				<input name="outParams" id="outParams" class="easyui-textbox" style="width: 100%;" data-options="required:false,editable:false,valueField:'id',textField:'name'"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">描述：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="remark" name="remark" data-options="multiline:false,required:false" class="easyui-textbox" style="width: 100%;"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname" colspan="1">sql脚本：</td>
	    			<td class="tdnamebox" colspan="3">
	    				<input id="diySql" name="diySql" data-options="multiline:true,required:true" class="easyui-textbox" style="width: 100%; height: 150px"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="sql_dlg-buttons">
		<a shiro:hasPermission="user:update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="sql.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#sqldlg-fm').form('clear');$('#sqldlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/workflow/sqlQuery.js}"></script>
</html>