<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/therapistTreatmentTimeQuery.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/js/index/hiddenELE.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="therapistTreatmentTimeQuery_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:7,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div id="cron_bar">
			<form id="therapistTreatmentTimeQueryform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 120px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				年： <input id="querycycle" name="cycle" class="easyui-datebox" data-options="" style="width: 120px; height: 22px;"/>
				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="therapistTreatmentTimeQuery.query()">查询</a> 
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/index/therapistTreatmentTimeQuery.js}"></script>
</html>