<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<link rel="stylesheet" th:href="@{/static/jquery-easy-shade-image-play/css/reset.min.css}"/>
  	<link rel='stylesheet prefetch' th:href='@{/static/jquery-easy-shade-image-play/css/ionicons.min.css}'/>
  	<link rel="stylesheet" th:href="@{/static/jquery-easy-shade-image-play/css/style.css}" />
  	<script type="text/javascript" th:src="@{/static/Jquery/jquery.min.js}"></script>
  	<script th:inline="javascript">
  		var content=[[${content}]];
  		var images=[[${images}]];
  	</script>
</head>
<body>
	<div id="centent" class="slider-ctr">
	</div>
    <script type="text/javascript" th:src="@{/static/jquery-easy-shade-image-play/js/index.js}"></script>
</body>
</html>
