<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: linkresource('首页')"></head>
	<link type="text/css" th:href="@{/static/css/workflow/shell.css}" rel="stylesheet" media="screen"/>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-cellediting.js}"></script>
	<script type="text/javascript" th:src="@{/static/easyUI/datagrid-Edit.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/index/hiddenELE.js}"></script>
<body>
<div class="easyui-layout" data-options="fit:true"  style="width:100%;height: 100%;">
	<table id="workforceManagement_table" class="easyui-datagrid" style="width: 80%; height: 100%;"
		data-options="singleSelect: true,rownumbers:true,fit:true,pageSize:30,toolbar:'#tb_cron_option'" pagination="true">
	</table>
	<div id="tb_cron_option" style="padding: 5px; height: auto">
		<div style="margin-bottom: 5px">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="workforceManagement.query()">查询</a> 
			<a id="addwf" shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:true" iconCls="icon-add" plain="true" onclick="workforceManagement.add()">添加排版</a> 
			<a id="savewf" shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false" iconCls="icon-workforce" plain="true" onclick="workforceManagement.savewf()">生成排版</a>
			<a id="export" shiro:hasPermission="user:execute" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-large-smartart" plain="true" onclick="workforceManagement.exportData()">导出</a>
			<a shiro:hasAnyRoles="sadmin" href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="workforceManagement.remove()">删除</a>
		</div>
		<div id="cron_bar">
			<form id="workforceManagementform">
				<span shiro:hasAnyRoles="sadmin,q_area_shopManager,generalManager,q_admin">门店：<input id="querycompanyid" name="companyid" class="easyui-combobox companylist" style="width: 120px; height: 22px;" data-options="editable:false,valueField:'companyid',textField:'companyName'"/></span>
				年： <input id="queryyear" name="year" class="easyui-combobox year" data-options="editable:false,valueField:'value',textField:'text',panelHeight:'auto'" style="width: 120px; height: 22px;"/>
				月： <input id="querymonth" name="month" class="easyui-combobox month" data-options="editable:false,valueField:'value',textField:'text',panelHeight:'auto'" style="width: 120px; height: 22px;"/> 
<!-- 				人员：<input name="username" id="queryusercbx" class="easyui-combobox usercbx" style="width: 200px; height: 22px;" data-options="editable:false,multiple:true,editable:true,valueField:'id',textField:'nickname'"/> -->
			</form>
		</div>
	</div>
</div>
	<div id="workforceManagementdlg" class="easyui-dialog"  data-options="modal:true" style="width: 45%; overflow: hidden;" closed="true" buttons="#workforceManagement_dlg-buttons">
		<form id="workforceManagementdlg-fm" th:method="post" style="margin: 0; padding: 1%">
			<table cellpadding="5" style="width: 100%">
	    		<tr>
	    			<td class="tdname">年：</td>
	    			<td class="tdnamebox">
	    				<input id="fyear" name="year" class="easyui-textbox year" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    			<td class="tdname">月：</td>
	    			<td class="tdnamebox">
	    				<input id="fmonth" name="month" class="easyui-textbox month" style="width: 100%;" data-options="required:true"/>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td class="tdname">公司：</td>
	    			<td class="tdnamebox">
	    				<input id="companyid" name="companyid" class="easyui-combobox companylist" style="width: 100%;" data-options="required:true,editable:false,valueField:'companyid',textField:'companyName'"/>
	    			</td>
	    			<td class="tdname">人员：</td>
	    			<td class="tdnamebox">
		    			<input name="userids" id="userctbbx" class="easyui-combobox usercbx" style="width: 100%;" data-options="editable:false,multiple:true,editable:true,valueField:'id',textField:'nickname'"/>
	    			</td>
	    		</tr>
	    	</table>
			<input id="id" name="id" value="" type="hidden" />
		</form>
	</div>
	<div id="workforceManagement_dlg-buttons">
		<a  shiro:hasAnyRoles="sadmin,generalManager,q_area_shopManager,q_admin" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="workforceManagement.complate()" style="width: 90px">确认</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#workforceManagementdlg-fm').form('clear');$('#workforceManagementdlg').dialog('close')" style="width: 90px">关闭</a>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/index/workforceManagement.js}"></script>
</html>